.games-footer-widget
	&.footer
		text-align center
		width 100%
		color #ffffff
	&.footer-links
		background #626262
		width 100%
		padding 13.866666666666667vw 8vw
		font-size 5.333333333333333vw
		a
			line-height 8vw
	&.socials
		display inline-block
		align-items center
		width 100%
		margin-bottom 11.2vw
		img
			width 10.133333333333333vw
			margin 0 2vw

	&.footer-logo
		background #424242
		padding 5.066vw 0
		img
			width 48vw
			margin-bottom 2.6666666666666665vw
	&.powered-by
		font-size 2.933333333333333vw
		img
			width 26.933333333333334vw
			vertical-align middle
			margin 0 2vw

.games-footer-widget.footer-links a:link, .games-footer-widget.footer-links a:hover, .games-footer-widget.footer-links a:visited
	color #ffffff

@media all and (min-width: 480px)
	.games-footer-widget
		&.footer
			text-align center
			width 100%
			color #ffffff
		&.footer-links
			background #626262
			width 100%
			padding 60px 30px
			font-size 20px
			a
				line-height 20px

		&.socials
			display inline-block
			align-items center
			width 100%
			margin-bottom 30px
			img
				width auto
				margin 0 10px
		&.footer-logo
			background #424242
			padding 15px 20px
			width 100%
			display inline-flex
			img
				width auto
				height 40px
				margin-bottom 0
		&.powered-by
			padding-top 10px
			font-size 12px
			text-align right
			height 100%
			width 100%
			img
				height 25px
				vertical-align middle
				margin 0 10px

	.games-footer-widget.footer-links a:link, .games-footer-widget.footer-links a:hover, .games-footer-widget.footer-links a:visited
		color #ffffff
