.games-club-faq-page-widget
	&.container
		max-width 1920px
		margin 0 auto
	&.mobile
		display block
	&.desktop
		display none
	&.wrapper
		background #ffffff
	&.banner
		background #ffffff url(path + "/wg/games-club-faq-page-widget/images/banner-mobile.png") no-repeat
		background-size 100% 100%
		color #ffffff
		text-align center
		padding 32vw 0
		h1
			font-weight 700
			letter-spacing 0.8px
			line-height 1.3
			font-size 10.58588807785888vw
	&.faqs
		color #a1a1a1
		background #ffffff
		//border-radius 1vw
		//box-shadow 0px 2px 7px 0px rgba(43, 43, 43, 0.2)
		margin 6.56934306569343vw
		//line-height 1.5
		//h1, h2
		//	color #7f52a7
		//	font-size 4.585vw
		//	font-weight 700
		//	line-height 2
		//h2
		//	font-size 4.385vw
		ul
			list-style-type circle
			list-style-position inside

		p, ul
			color #000000
			font-size 3.5vw
			line-height 1.6
	&.accordion
		background-color #ffffff
		cursor pointer
		padding 4vw
		font-weight 700
		font-size 3.5vw
		width 100%
		text-align left
		border none
		box-shadow 0px 2px 7px 0px rgba(43, 43, 43, 0.2)
		outline none
		display inline-flex
		transition 0.4s
		p
			color #414141
			width 90%
	&.active, &.accordion:hover
		background-color #f9f8fa
		border-left #6246dd 1.5px solid
		box-shadow none
	&.active
		p
			color #6246dd !important
	&.accordion:after
		content ''
		font-size 13px
		font-weight 700
		text-align center
		margin-left 5vw
		width 5vw !important
		height 5vw !important
		background url(path + "/wg/games-club-faq-page-widget/images/down.png") no-repeat
		background-size 100% 100%
		color #6a6a6a
		float right
	&.active:after
		content: "";
		background url(path + "/wg/games-club-faq-page-widget/images/up.png") no-repeat
		background-size 100% 100%
		width 5vw !important
		height 5vw !important
		color #ffffff
	&.panel
		padding 0 4vw
		background-color #f9f8fa
		border-left #6246dd 1.5px solid
		max-height 0
		overflow hidden
		transition max-height 0.2s ease-out
		p
			padding-bottom 5vw
	&.support
		margin 6.56934306569343vw
		color #414141
		h1
			font-size 5vw
			font-weight 700
		p
			line-height 1.5
			font-weight 600
			a:link
				color #6246dd
				font-weight 700


@media all and (min-width: 961px)
	.games-club-faq-page-widget
		&.mobile
			display none
		&.desktop
			display block
		&.banner
			background url(path + "/wg/games-club-faq-page-widget/images/banner-desktop.png") no-repeat
			background-size 100% 100%
			padding 10em 0 !important
			h1
				font-size 3.286em
		&.faqs
			margin 3em 7em
			//h1
			//	font-size 1.586em
			//h2
			//	font-size 1.486em
			p, ul
				font-size 1em
		&.accordion
			padding 0.3em !important
			font-weight 700
			p
				font-size 0.33em
		&.active, &.accordion:hover
			border-left #6246dd 3px solid
		&.accordion:after
			width 2em !important
			height 2em !important
			margin-left 5vw
		&.active:after
			width 2em !important
			height 2em !important
		&.panel
			padding 0 1em
			border-left #6246dd 3px solid
			p
				font-size 1em
				width 80%
				padding-bottom 2em
		&.support
			margin 3em 7em
			hr
				color rgba(43, 43, 43, 0.2)
			h1
				font-size 1.5em
				padding-bottom 0.5em
			p
				padding-top 0.5em
				font-size 1em