<!DOCTYPE html>
<html lang="{{language}}">

<head>
	<title>Read me</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width" />
	<style>
	#wrapper {
		margin: 80px auto;
		width: 900px;
	}

	/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding: 60px 15px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}
	</style>
</head>

<body>

	<!-- Header -->
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		 <div class="container">
			 <a class="navbar-brand" href="#">Documentation - Games Club Landing Page</a>
		 </div>
	 </nav>
	 	<div id="wrapper">
			<h1>Games Club Landing Page</h1>

			<p>This is the documentation for the template for the Games Club landing page free to use for our partners. The below sections contains information for Product Managers and Developers.</p>

			<h1>Product Managers</h1>

			<p><strong>Project overview</strong>
				<ol>
					<li>Update the design to your graphical profile </li>
					<li>Replace the people in the comments section with localized ones. </li>
					<li>Replace the games and the currency with local relevant ones. </li>
					<li>Implement the "Enter phone number".</li>
				</ol>
			</p>

			<h1>Developers</h1>

			<p>You have two choices when you work with this project:</p>

			<ol>
				<li>Work in the framework which you find in the folder /src containing Mustache, Stylus and Javascript files. Your code is compiled with node. <strong>This will give you the most flexibility, making it easier to maintain the project and lets you reuse a lot of code</strong>.</li>
				<li>Work with the pre-compiled files in the folder /output containing HTML, CSS and Javascript. This will make it easy to get started but is really not recommended unless you are very unfamiliar with Mustache and Stylus.</li>
			</ol>

			<h2>File structure</h2>

			<ul>
				<li><i>/build-system</i> </br>Contains the build system that compiles the Mustache, Stylus and Javascript files. Normally you don't need to change these files.</li>
				<li><i>/node_modules</i> </br>Will be created when you run <code>npm install</code> and contain all files needed for compiling the project with node. You never need to change them.</li>
				<li><i>/output</i> </br>This is the folder where the compiled files end up after you run <code>npm run appland-compile</code>. The content in this folder is what you will publish. Read more under heading Publishing.</li>
				<li><i>/src</i> </br>This folder contains all the source files for Mustache, Stylus and Javascript. All the folders except <code>/src/wg</code> and <code>/src/templates</code> are the placeholders for the corresponding url. E.g. <code>/src/games</code> corresponds
					to your url http://www.your-domain.com/games and the file <code>index.mustache</code> will be the one displayed. <code>/src/wg</code> and <code>/src/templates</code> contains all the widgets that the pages are using which could be reusable
					objects as for example the <code>/src/wg/spinner-widget</code>.</li>
				<li><i>configuration.json</i> </br>This is the configuration file where you specify the project. A lot is already configured but what you need to change here is for example colors and footer links.</li>
			</ul>

			<h2>Build the project</h2>

			<ol>
				<li>Install Node JS and NPM on you computer, <a href="https://nodejs.org/en/">nodejs.org</a></li>
				<li>Open a command line interface and go to the project directory (the directory this file is placed in)</li>
				<li>Run <code>npm install</code> for installing all required dependency.</li>
				<li>Run <code>npm start</code> to compile the project once and run a local server for the project. Open the url displayed in the console in a browser.</li>
			</ol>

			<blockquote>
				<p>Hint: To just compile the code you can run <code>npm run appland-compile</code>.</p>
			</blockquote>

			<h2>Publishing</h2>

			<p>When you are publishing the project you have two alternatives:</p>

			<ol>
				<li>Place the content in the folder <code>/output</code> on a web server. Recommended for most of the partners</li>
				<li>Place the <code>/src</code> folder on your node server.</li>
			</ol>

			<h3>Support</h3>

			<p>tobias.ekblom@appland.se</p>
		</div>
	<footer class="footer">
		<div class="container">
			<span class="text-muted">A product from Appland.</span>
		</div>
	</footer>
</body>

</html>
