/* Cinzel Font */
@font-face {
	font-family: CinzelDecorative-Bold;
	src: url(path + '/wg/files/fonts/CinzelDecorative-Bold.ttf');
}


.games-club-landing-page-widget
	&.line-break-mobile
		display none
	&.wrapper
		top 100px
		max-width 1920px
		display block
		margin auto
		background #9f466f url(path + "/wg/games-club-landing-page-widget/images/hero-background-desktop-and-tablet.jpg") no-repeat
		background-size 100%
		background-position-y 3.5em
	&.header
		background-color white
		min-height 3vw
		position relative
		padding 0 3vw
	&.header-logo
		display flex
		align-items center
		img
			margin 0.7em 0
			width 8em
	&.banner
		width 100%
		position relative
		color #ffffff
		padding 4vw
	&.banner-content

		h1
			font-family CinzelDecorative-Bold
			color #ffffff
			font-size 3vw
			line-height 4vw
			padding-bottom 1vw
			&:after
				height 0.2vw
				display block
				width 14.2vw
				background orange
				content ''
		h4
			font-size 2vw
			line-height 1.3em
	&.banner-form
		padding-top 4vw
		p
			font-family Roboto-Light
			font-size 2.5vw

	&.input-pin-holder
		margin 1.8vw
	&.input-pin
		width 100%
		padding 2.0vw 1.8vw
		border-radius 0.1em
		text-align center
		font-size 5vw
		border 1px solid #d2d2d2
		margin 3vw 0
	&.hidden-submit
		width 0
		border none
	&.button
		position relative
		background-color #289ae6
		border transparent
		border-radius 0.1em
		color #FFFFFF
		font-size 5.5vw
		text-align center
		cursor pointer
		padding 1vw 2vw 2vw 2vw
		width 37vw
		display inline-block
		box-shadow 0 3px 5px 0 rgba(0, 0, 0, 0.6)
		-webkit-touch-callout none
		-webkit-user-select none
		-khtml-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none

		&.input-pin-button
			border transparent
			width 30vw
			box-shadow none
			font-size 3.8vw
		&:active
			background-color #76bfe6
		&.resend-code-button
			color #289ae6
			padding 0.8vw 0.8vw
			margin 4.5vw auto 0 auto
			width 35vw
			background-color transparent
			font-size inherit
			border none
			box-shadow none
			display block
			&:active
				background-color transparent
	&.banner-badges-desktop
		img
			width 6vw
			padding-right 2vw

	&.game-section
		display -webkit-flex
		display inline-flex
		-webkit-flex-direction row
		flex-direction row
		align-items center
		width 100%
		color #8a69aa
		background-color #FFFFFF
		padding 4rem 4rem
	&.game-section-two
		background url(path + "/wg/games-club-landing-page-widget/images/removed-background-desktop-and-tablet.jpg") no-repeat center 100%
		background-size cover
		display -webkit-flex
		display inline-flex
		-webkit-flex-direction row
		flex-direction row
		align-items center
		width 100%
		color #FFFFFF
		padding 5rem 4rem

	&.game-feature
		width 52%
		text-align center
		padding 0 7.5vw
		i
			font-size 10vw
		h2
			font-family Roboto-Bold
			font-size 2vw
		p
			font-family Roboto-Light
			font-size 2vw
			line-height 2.2vw
	&.game-slider
		width 52%
		padding 3vw 0


	&.purple
		background-color #8a69aa
		color #fff
	&.white
		background-color #FFFFFF
		color #8a69aa
	&.blue
		background-color #7DC3DB
		color #fff

	&.fa-star
		color #ebaf47
	&.see-all-games
		background url(path + "/wg/games-club-landing-page-widget/images/hero-image-1-full.jpg")
		background-size 100% 100%
		text-align center
		vertical-align middle
		padding 10vw
		a
			background-color #289ae6
			color white
			padding 0.8vw 2.5vw
			font-weight 900
			text-transform uppercase
			border-radius 0.2rem
			box-shadow 0 3px 6px 3px rgba(0, 0, 0, 0.6)
	&.discount
		width 100%
		background-color #f9f9f9
		display -webkit-flex
		display inline-flex
		-webkit-flex-direction row
		flex-direction row
		padding 1rem
	&.start-playing-now
		font-family Roboto-Light
		color #FFFFFF
		background url(path + "/wg/games-club-landing-page-widget/images/start-playing-now-background-desktop-and-tablet.jpg") right center no-repeat
		width 45%
		padding 6rem 2rem
		h2
			font-family Roboto-Bold
			font-size 4.5vw
		h4
			font-size 2vw
			padding 0.7vw 0
		p
			font-size 1.5vw
			padding 0.4vw 0
	&.opening-offer
		width 55%
		padding 2rem 2.5rem
		h2
			font-family Roboto-Light
			font-size 3vw
			padding-bottom 1vw
			color #aaa7a7
		li
			font-family Roboto-Light
			font-size 1.7vw
			line-height 4vw
			color #7d747b
			&:before
				background url(path + "/wg/games-club-landing-page-widget/images/bullet.png") no-repeat
				background-size 2vw 2vw
				display inline-block
				width 2.2vw
				height 2vw
				padding-right 10px
				content ""
				color #289ae6
		ul
			display -ms-flexbox
			display -webkit-flex
			display flex
			-webkit-flex-flow wrap column
			flex-flow wrap column
			max-height 12vw
	&.price-blue
		color #289ae6
		line-height 3rem
		padding 2vw 0
		h1
			color #289ae6
			font-size 7vw
			padding 1vw 0
			& > span
				position relative

				&::after
					content ""
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='100'><line x1='15' y1='15' x2='285' y2='85' style='stroke: %23289ae6; stroke-width:6' /></svg>")
					background-size 100% 100%
		h3
			font-size 3.5vw
	&.mobile
		display none

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.header-logo
			img
				margin 0.7em 0 0 0

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.banner
			margin-bottom 0

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.banner-form
			p
				font-size 0.85em

@media all and (min-width: 1920px)
	.games-club-landing-page-widget
		&.banner-form
			p
				font-size 1.2em

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.input-pin-holder
			margin 1.5em 1.5em 0.5em 1.5em

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.input-pin
			padding 0.5em
			margin 0.5em auto 1em auto
			font-size large

@media all and (min-width: 1921px)
	.games-club-landing-page-widget
		&.input-pin
			font-size x-large

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.button
			font-size large
			width 7em
			padding 0.33em 1.5em

@media all and (min-width: 1921px)
	.games-club-landing-page-widget
		&.button
			font-size x-large

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.button
			&.input-pin-button
				width 10em
				font-size large

@media all and (min-width: 1920px)
	.games-club-landing-page-widget
		&.button
			&.input-pin-button
				font-size x-large

@media all and (min-width: 961px)
	.games-club-landing-page-widget
		&.button
			&.resend-code-button
				width 10em
				margin 1.2em auto 0 auto

@media all and (min-width: 1921px)
	.games-club-landing-page-widget
		h4
			font-size 36px
		h1
			font-size 56px
		&.see-all-games
			padding 200px
		&.banner
			padding 80px
		&.banner-form
			padding-top 80px
		&.banner-content
			h1
				font-size 60px
			h4
				font-size 40px
		&.input-button
			background-color #289ae6
			border transparent
			border-radius 0.1em
			color #FFFFFF
			padding 20px 25px
			font-size 30px
			width 220px
		&.discount
			width 100%
			padding 10px
		&.start-playing-now
			width 45%
			padding 120px 30px
			h2
				font-size 90px
			h4
				font-size 45px
				padding 10px 0
			p
				font-size 28px
				padding 40px 0 0
			input
				margin 0.5em 0
		&.opening-offer
			width 55%
			padding 40px 30px
			h2
				font-size 60px
				padding-bottom 5px
			li
				font-size 40px
				line-height 80px
				&:before
					background-size 30px 30px
					width 33px
					height 30px
					padding-right 10px
			ul
				max-height 250px
		&.game-feature
			padding 0 3rem
		&.price-blue
			line-height 40px
			padding 50px 0
			h1
				font-size 160px
				padding 35px 0
			h3
				font-size 80px

@media all and (max-width: 960px)
	.games-club-landing-page-widget
		&.line-break-mobile
			display inherit
		&.wrapper
			background #a73e4d url(path + "/wg/games-club-landing-page-widget/images/hero-background-mobile.jpg") no-repeat
			background-size 100% auto
		&.banner
			width 100%
			color #ffffff
			padding 10vw 4vw 2vw
			text-align center
			position relative
		&.banner-content
			h1
				color #ffffff
				font-size 10vw
				line-height 11vw
				&:after
					display none
			h4
				font-size 4.5vw
				line-height 1.3em
		&.underline
			font-size xx-large
			line-height 7vw
			font-family Roboto-Light
		&.tags
			width 100%
			display -webkit-flex
			display flex
			-webkit-flex-direction row
			flex-direction row
			-webkit-justify-content center
			justify-content center
		&.banner-form
			p
				font-family Roboto-Light
				font-size 3.5vw
		&.banner-badges-desktop
			display none
		&.desktop
			display none
		&.mobile
			display block

		&.input-text
			margin-right 0
			border transparent
			border-radius 0.1em
			padding 4vw 12vw
			font-size xx-large
			width 80vw
		&.input-button
			padding 3vw 3vw
			margin-top 3vw
			font-size x-large
			width 35vw
		&.game-section
			-webkit-flex-direction column
			flex-direction column
			width 100%
			padding 6vw 0
			background-color #FFFFFF
			position relative
		&.game-section-two
			background url(path + "/wg/games-club-landing-page-widget/images/removed-background-mobile.jpg") no-repeat center 100%
			background-size cover
			background-position center center
			-webkit-flex-direction column-reverse
			flex-direction column-reverse
			width 100%
			padding 6vw 0
		&.game-feature
			width 100%
			padding 4vw 4vw
			text-align left
			img
				display none
				width 7vw
			.paid-games-included-text
				&::after
					background-image url(path + "/wg/files/images/icon_gift.png")
					content ""
					width 7vw
					margin-left 7px
					height 7vw
					background-size 7vw 7vw
					display inline-block
					background-position-y 1vw
					background-repeat no-repeat
					transform translate(0, 0.5vw)
			.ads-removed-text
				&::after
					background-image url(path + "/wg/files/images/icon_ribbon_white.png")
					content ""
					width 7vw
					margin-left 7px
					height 7vw
					background-size 7vw 7vw
					display inline-block
					background-position-y 0.3vw
					background-repeat no-repeat
					transform translate(0, 0.5vw)
			.free-in-app-text
				&::after
					background-image url(path + "/wg/files/images/icon_diamond.png")
					content ""
					width 7vw
					margin-left 7px
					height 7vw
					background-size 7vw 7vw
					display inline-block
					background-position-y 0.4vw
					background-repeat no-repeat
					transform translate(0, 0.5vw)
			h2
				font-family Roboto
				font-weight 700
				font-size 7vw
				margin-bottom 2vw
			p
				font-family Roboto
				font-weight 400
				font-size 6vw
				line-height 7.3vw
		&.see-all-games
			background url(path + "/wg/games-club-landing-page-widget/images/hero-image-1.jpg")
			background-size 100% 100%
			padding 30vw 15vw
			a
				padding 3vw 9vw
				font-size 4vw
		&.footer-links
			-webkit-flex-direction column
			flex-direction column
			padding 7vw 0
		&.footer-links-list
			padding 2vw 2vw
			h4
				font-size 5vw
				line-height 7vw
			li
				& > a
					font-size 4vw
					line-height 7vw
		&.discount
			-webkit-flex-direction column-reverse
			flex-direction column-reverse
			padding 0
		&.start-playing-now
			width 100%
			text-align center
			background url(path + "/wg/games-club-landing-page-widget/images/start-playing-now-background-mobile.jpg.png") right center no-repeat
			padding 5vw 2vw
			h2
				font-family Roboto-Light
				font-size 9vw
			p
				font-size 2.7vw
		&.opening-offer
			width 100%
			text-align center
			padding 2rem 2.5rem
			h2
				font-size 10vw
			ul
				display block
				max-height 100%
				text-align left
				padding 5vw 4vw
			li
				font-size 5.5vw
				line-height 12vw
				&:before
					background-size 5vw 5vw
					width 5.5vw
					height 5vw
					padding-right 3vw
		&.price-blue
			padding 0
			h1
				font-size 25vw
				line-height 35vw
				margin-bottom 0
				padding-bottom 0
			p
				font-size 5vw
				padding-top 0
				font-style italic
			h3
				font-size 10vw
				font-weight 600
			span
				display block

	.let-them-play-widget
		&.arrow
			width 60px
			height 30px
			position absolute
			top 0
			overflow hidden
			left 50%
			margin-left -30px
			margin-top 0
			z-index 100
			&.top
				top 0
				div
					background-position 0 26px
					margin-top -30px
			div
				width 60px
				height 60px
				background-color #fff
				background-image url(path + "/wg/games-club-landing-page-widget/images/arrow.svg?pv=582064912069-8")
				background-repeat no-repeat
				-webkit-border-radius 50%
				border-radius 50%
				background-position 0 0
				margin-top 0
			&.gray
				div
					background-color #f9f9f9

@media all and (max-width: 960px)
	.games-club-landing-page-widget.footer-logo, .games-club-landing-page-widget.footer-logo-image
		float none
		text-align center
		margin auto
		padding 2vw 0

	.games-club-landing-page-widget.game-slider
		width 100%

@media all and (max-width: 480px)
	.games-club-landing-page-widget
		&.banner-content
			h1
				color #ffffff
				font-size 10vw
				line-height 13vw
				margin-bottom 0
			h4
				font-size 4.5vw
				line-height 1.3em
				padding-left 0.3em
		&.underline
			font-size xx-large
			line-height 7vw
		&.tags
			width 100%
			display -webkit-flex
			display flex
			-webkit-flex-direction row
			flex-direction row
			-webkit-justify-content center
			justify-content center
		&.banner-form
			padding-top 8vw
			p
				font-family Roboto-Light
				font-size 3.5vw
				color #eeeeee
		&.banner-badges-desktop
			display none
		&.desktop
			display none
		&.mobile
			display block

		&.input-text
			margin-right 0
			border transparent
			border-radius 0.1em
			font-size 4.5vw
			padding 4vw 17vw
		&.input-button
			padding 2.5vw 6vw
			margin-top 3vw
			font-size medium
		&.start-playing-now
			h2
				font-family Roboto-Light
				font-size 7vw
				padding 3vw 0
		&.price-blue
			p
				font-size 7vw
