.signup-widget
	position relative
	margin-bottom 4vw

	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
		-webkit-appearance none
		-moz-appearance none
		appearance none
		margin 0

	input[type=number]
		-moz-appearance textfield

	&-spinner
		svg
			width 6vw
			height 6vw
		circle
			stroke #289ae6

	&.modal
		margin 0
		padding 0

	&-modal .signup-widget-message-box
		position relative
		transform none
		margin-top 10px

	&-submit, &-input-field
		padding 4vw
		border 0
		border-radius 0.1em
		font-size 5vw
		text-align center
		box-shadow 0 3px 5px 0 rgba(0, 0, 0, 0.6)
		margin 2vw 0 2vw 0
		width 90%

	&-message-box
		display none
		position absolute
		font-size 3.7vw
		color #474747
		border-radius 1px
		padding 4vw
		width 100%
		text-align center
		z-index 100
		top 0
		transform: translate(0, -100%);

		&.error
			background-color #f8e483
			border 1px solid #e2c010
		&.info
			background-color #BDE5F8
			border 1px solid #8eb4d4

	&-hidden-submit-field
		display none

	&-submit
		width 55%
		height 11vw
		padding 0 !important
		display flex
		flex-direction column
		justify-content center
		margin 2vw auto 0
		background-color #289ae6
		color #ffffff
		text-align center
		-webkit-user-select none
		-khtml-user-select none
		-moz-user-select -moz-none
		-o-user-select none
		user-select none
		font-size 4vw
		font-weight 700

		&.disabled
			background-color #cdcece
			span
				visibility hidden
				height 0
			.signup-widget-spinner
				display inline-block
	&-resend-code
		&.disabled
			background-color #cdcece
			span
				visibility hidden
				height 0
			.signup-widget-spinner
				display inline-block


	&-spinner
		display none

.signup-widget
	&.modal
		position fixed
		z-index 200
		left 0
		top 0
		width 100%
		height 100%
		overflow auto
		background-color rgba(0, 0, 0, 0.4)
		.msg-box
			width 100%
	&.modal-content
		border-radius 2px
		padding 5vw 5vw 1.2vw 5vw
		font-size 3.5vw
		background-color #f8f8f8
		margin 15% auto
		border 1px solid #888
		width 80%
		text-align center
		color #5b5858
	&.close
		position relative
		top -4.5vw
		right -3.8vw
		color #aaa
		float right
		font-size 5.5vw
		font-weight bold

@media all and (min-width: 480px)
	.signup-widget
		margin 10px 0
		&.modal
			.msg-box
				font-size small
				position inherit

		&.modal-content
			margin 10% auto
			width 24em
			font-size 0.9em
			padding 1.5em 1.5em 0.5em 1.5em

		&.close
			top -0.97em
			right -0.47em
			font-size 2.0em

		&-container
			display flex
			flex-direction row
			position relative
			width 400px

		&-message-box
			font-size 17px
			padding 10px
			width 100%

		&-submit, &-input-field
			font-size 17px
			display flex
			align-items center
			justify-content center
			width auto
			height 45px
			vertical-align middle
			padding 10px
			margin 10px 5px
		&-submit
			font-weight 700
			width 15em !important
			padding 0 2em !important
		&-spinner
			svg
				width 30px
				height 30px
		&-input-field
			width 100% !important

.signup-widget.close:hover, .signup-widget.close:focus
	color black
	text-decoration none
	cursor pointer
