<div class="signup-widget">
	<div class="signup-widget-container">
		<div class="signup-widget-message-box error">Invalid phone number. Please try again.</div>
		<input class="signup-widget-input-field" type="tel" placeholder="Enter phone number">
		<input class="signup-widget-hidden-submit-field" type="submit"/>
		<div class="signup-widget-submit">
			<span>START PLAYING NOW</span>
			{{> @root/wg/spinner-widget/spinner-widget class="signup-widget-spinner"}}
		</div>
	</div>
</div>
