<div class="signup-widget-modal signup-widget modal" data-msisdn="{{msisdn}}">

	<div class="signup-widget modal-content">
		<span class="signup-widget close">&times;</span>
		<div class="games-club-landing-page-widget input-pin-holder">
			<p>A PIN Code is sent to your mobile. Enter it below to confirm your membership.</p>
			<div class="signup-widget-message-box info" id="input-text-pin-info">A new PIN was sent to ...</div>
			<div class="signup-widget-message-box error" id="input-text-pin-error">Invalid PIN code. Please try again.</div>


			<input id="input-text-pin" class="games-club-landing-page-widget input-pin" type="number"
			       placeholder="Enter PIN code">
			<input class="signup-widget-hidden-submit-field" type="submit"/>

			<div class="signup-widget-submit">
				<span>Confirm</span>
				<div class="spinner-widget signup-widget-spinner">
					<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
						<circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</div>
			</div>

			<div class="signup-widget-resend-code games-club-landing-page-widget button resend-code-button">
				<span class="signup-widget-resend-code games-club-landing-page-widget button-text-holder">Resend code</span>
				<div class="spinner-widget signup-widget-spinner">
					<svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
						<circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
