<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>Toplists Page</title>
	{{> @root/resources}}
</head>
<body>
	<div class="list-page-widget wrapper" id="root">
		{{> @root/wg/header-widget/header}}
		{{> @root/wg/sub-header-widget/sub-header-widget title='Toplists'}}
		{{#toplists-page}}
			{{> @root/wg/games-slider-widget/games-slider title=name id=toplist-id options=(str 'count/15/list/' toplist-id '/lang/' @root.language)}}
		{{/toplists-page}}
		{{> @root/wg/footer-widget/footer}}
	</div>
</body>
</html>
