.game-detail-page-widget
	.game
		background #ffffff

	&-spinner
		height 100vh
		transform translate(0,-20%)
		svg
			height 65px
			width 65px

	&.purple-bar
		width 100%
		background secondaryColor
		color #ffffff
		font-size 4.266666666666667vw
		padding 4.266666666666667vw
		img
			width 4.266666666666667vw
			margin-right 3.7333333333333334vw
	&.back
		position absolute
		z-index + 999
		padding-top 3vw
		img
			z-index + 999
			width 7vw
			margin-left 4vw
	&.banner
		position relative
		height 52vw
		width 100%
		img
			width 100%
	&.error-text
		margin auto
		text-align center
		padding 20vw 4vw
	&.app-detail
		width 100%
		display inline-flex
		padding 2.4271844660194173vw 4.368932038834951vw
	&.app-icon
		img
			width 22.4vw
			margin-right 4.8vw
	&.app-title
		h2
			font-family Roboto
			font-weight 700
			font-size 4.611650485436893vw
			padding-top 1.6vw
		p
			font-size 3.640776699029126vw
			padding-top 2.6666666666666665vw
			line-height 1vw
	&.app-install
		width 100%
		display inline-flex
		padding 0 5.6vw
	&.app-badge
		width 100%
		color #d80027
		font-size 3.2vw
		font-family Roboto
		font-weight 700
		line-height 6.933333333333334vw
		display flex
		img
			height 8.933333333333334vw
			width auto
			float left
			margin-right 3.7333333333333334vw
		h3
			line-height 4.5vw
		span
			position relative
			&::after
				content ""
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				background-size 100% 100%
				background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='100'><line x1='5' y1='10' x2='295' y2='85' style='stroke: %23d80027; stroke-width:7' /></svg>")
	&.install-button
		width 100%
		text-align right
		button
			color #FFFFFF
			font-size 3.2vw
			padding 2.3vw 9.333333333333334vw
			background-color primaryColor
			font-family Roboto
			font-weight 700
			border none !important
			margin-bottom 7vw
	&.screenshots-slider
		padding 1vh 0
		img
			height 68.46666666666667vw
			width auto
			margin-right 2vw
	&.app-description
		font-size 4vw
		padding 4.8vw 7.733333333333333vw
		line-height 1.6
		&:after
			margin-top 4.8vw
			height 1px
			display block
			width 100%
			background #dcdcdc
			content ''
	&.sidebar-box
		max-height 170px
		position relative
		overflow hidden
		.game-detail-page-widget
			&.read-more
				font-size 16px
				position absolute
				bottom 0px !important
				left 0
				width 100%
				text-align center
				margin 0
				padding 170px 0px 0px 0px
				background-image -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100%)
	&.button
		color primaryColor
		text-decoration none
		text-transform uppercase
	&.fadeout
		position relative
		bottom 11em
		height 8em
		background -webkit-linear-gradient(
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 1) 100%
		)
		background-image -moz-linear-gradient(
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 1) 100%
		)
		background-image -o-linear-gradient(
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 1) 100%
		)
		background-image linear-gradient(
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 1) 100%
		)
		background-image -ms-linear-gradient(
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 1) 100%
		)
	&.app-rating
		width 100%
		font-family Roboto
		font-weight 400
		font-size 8.533333333333333vw
		display inline-flex
		padding 0 6.666666666666667vw
		padding-bottom 18.689320388349515vw
		border-bottom 1px solid #dcdcdc
	&.star-rating-display
		font-size 9.6vw
		margin-left 3.2vw
		padding-top 6.3vw
		unicode-bidi bidi-override
		color #c5c5c5
		display inline-block
		position relative
	&.star-rating-display[data-rating="0"]:before
		width 0%
	&.star-rating-display[data-rating="1"]:before
		width 20%
	&.star-rating-display[data-rating="2"]:before
		width 40%
	&.star-rating-display[data-rating="3"]:before
		width 60%
	&.star-rating-display[data-rating="4"]:before
		width 80%
	&.star-rating-display[data-rating="5"]:before
		width 100%
	&.app-other-detail
		width 100%
		display inline-flex
		font-size 3.7333333333333334vw
		padding 3vw 6.666666666666667vw
		a
			color #189ffe
	&.detail-pane
		width 50%
		padding 2vw
		border-left 1px solid #a9a9a9
		h4
			padding 4.8vw 0
		p
			color #a9a9a9
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
	&.desktop
		display none

.game-detail-page-widget.star-rating-display:before, .game-detail-page-widget.star-rating-display:after
	content "★★★★★"
	display block
	white-space nowrap

.game-detail-page-widget.rating-display:before, .game-detail-page-widget.rating-display:after
	content "★"
	display block
	white-space nowrap

.game-detail-page-widget.star-rating-display:before, .game-detail-page-widget.rating-display:before
	color #ffb03b
	position absolute
	z-index 1
	left 0px
	overflow hidden
	width 100%

.game-detail-page-widget.star-rating-display:after, .game-detail-page-widget.rating-display:after
	z-index 0

.is-vishidden
	position absolute !important
	overflow hidden
	width 1px
	height 1px
	padding 0
	border 0
	clip rect(1px, 1px, 1px, 1px)

@media all and (min-width: 480px)
	body
		background #f0f0f1

@media all and (min-width: 480px)
	.game-detail-page-widget
		&.banner-slider
			padding 0.5vh 0
		&.banner-slide
			max-height 260px
			margin-right 10px
		&.banner-slide
			img
				height 250px

@media all and (min-width: 480px)
	.game-detail-page-widget
		&.mobile
			display none
		&.banner
			height 350px
		&.back
			position absolute
			z-index + 999
			padding-top 15px
			img
				z-index + 999
				width 32px
				margin-left 15px
		&.game
			width 100%
			max-width 720px
			margin auto
			background #FFFFFF
			box-shadow 0px 7px 25px -6px rgba(169, 169, 169, 1)
			margin-bottom 3vw
		&.purple-bar
			width 100%
			background secondaryColor
			color #ffffff
			font-size 1.3541666666666667vw
			padding 1.1458333333333335vw
			img
				width 1.3541666666666667vw
				margin-right 1.3541666666666667vw
		&.app-detail
			width 100%
			display inline-flex
			padding 30px
			padding-bottom 0
		&.app-icon
			img
				width 170px
				margin-right 1.6145833333333335vw
		&.app-title
			width 100%
			h2
				font-family Roboto
				font-weight 400
				font-size 34px
				padding-top 1.875vw
			p
				font-size 14px
				padding-top 14px
				line-height 1vw
				color #606060
				font-family Roboto
				font-weight 700
		&.app-install
			&.desktop
				width 100%
				display inline-flex
				padding 10px 0
		&.app-badge
			width 100%
			color #d80027
			font-size 12px
			font-family Roboto
			font-weight 700
			line-height 27px
			h3
				line-height 15px
			img
				height  27px
				width auto
				float left
				margin-right 10px

		&.install-button
			width 100%
			text-align right
			border none
			button
				color #FFFFFF
				font-size 14px
				padding 11px 35px
				background-color primaryColor
				font-family Roboto
				font-weight 400
				margin-bottom 1vw
		&.screenshots-slider
			display none
		&.app-description
			font-size 12px
			padding 20px 50px 0
			flex-wrap wrap
			&:after
				margin-top 30px
				height 1px
				display block
				width 100%
				background #dcdcdc
				content ''
		.app-description-text
			white-space pre-line
			font-size 14px
			line-height 20px
		&.app-other-detail
			width 70%
			display inline-flex
			font-size 12px
			padding 50px 0px
			padding-left 20px
		&.detail-pane
			&:first-child
				display inline-flex
				width 40%
				padding 0
				padding-left 0
				border-left none
			&:last-child
				display inline-flex
				width 60%
				padding 0
				padding-left 0
				border-left none
			div
				margin-right 15px
				word-wrap break-word
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
			h4
				padding 15px 0
			p
				color #a9a9a9
				white-space nowrap
				overflow hidden
				text-overflow ellipsis
		&.app-rating
			width 30%
			font-family Roboto
			font-weight 400
			font-size 35px
			display inline-flex
			padding-right 1.09375vw
			padding-left 50px
			padding-bottom 0
			border-bottom none
			margin-top 38px
			margin-bottom 38px
			border-right 1px solid #dcdcdc
		&.bunch
			width 100%
			max-width 100%
			display inline-flex
		&.desktop
			display block
		&.display
			padding-top 20px
			padding-left 5px
			img
				width 40px
				vertical-align bottom
				margin 0 10px
