<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>Pricing | World's 400 best games</title>
	{{> @root/resources}}
</head>
<body>

<div class="games-club-pricing-page-widget wrapper">
	{{> @root/wg/header-widget/header}}
	<div class="games-club-pricing-page-widget banner">
		<div class="games-club-pricing-page-widget container">
			<div class="games-club-pricing-page-widget mobile">
				<h1><strong>One Price</strong> <br>Without Surprise</h1>
			</div>
			<div class="games-club-pricing-page-widget desktop">
				<h1><strong>One Price</strong> Without Surprise</h1>
			</div>
		</div>
	</div>
	<section class="games-club-pricing-page-widget opening-offer">
		<div class="games-club-pricing-page-widget container">
			<h1><strong>Opening Offer</strong></h1>
			<div class="games-club-pricing-page-widget pricing">
				<div class="games-club-pricing-page-widget new-price">
					<h1><strong>$ 0.99</strong></h1>
					<p><strong>per week</strong></p>
				</div>
				<div class="games-club-pricing-page-widget old-price">
					<h1><strong>$ 1.99</strong></h1>
					<p><strong>per week</strong></p>
				</div>
			</div>
		</div>
	</section>
	<section class="games-club-pricing-page-widget hundred-percent-fun">
		<div class="games-club-pricing-page-widget container">
			<h1>100% Fun</h1>
			<div class="games-club-pricing-page-widget underline">&mdash; &middot;&middot;&middot; &mdash;</div>
			<p><strong>What else are Games for?</strong></p>
			<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/game-mobile.png" alt="bye bye update"
				 class="games-club-about-page-widget mobile">
			<div class="games-club-pricing-page-widget epic">
				<div>
					<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/game-desktop.png"
						 class="games-club-pricing-page-widget tablet desktop">
				</div>
				<div class="games-club-pricing-page-widget features">
					<div class="games-club-pricing-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/about-one.svg" class="test">
						<div class="games-club-pricing-page-widget feature-text">
							<h2>All You Can Play - Top #1 </h2>
							<p>
								Access the world's most popular games <br>
								instantly, and play as much as you want, as <br>
								often as you want
							</p>
						</div>
					</div>
					<div class="games-club-pricing-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/about-two.svg">
						<div class="games-club-pricing-page-widget feature-text">
							<h2>Ads Removed </h2>
							<p>Play uninterrupted with no ads or waiting <br>times</p>
						</div>
					</div>
					<div class="games-club-pricing-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/about-three.svg">
						<div class="games-club-pricing-page-widget feature-text">
							<h2>Free In-App Purchases </h2>
							<p>Get coins, armour, swords and power <br>ups. Access to ALL levels and ALL <br>add-ons for
								free
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="games-club-pricing-page-widget offer-icons">
		<div class="games-club-pricing-page-widget container">
			<div>
				<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/pricing-one.svg">
				<h2><strong>New Games Every Week</strong></h2>
				<p>Play new games every week.</p>
			</div>
			<div>
				<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/pricing-two.svg">
				<h2><strong>Free Trial</strong></h2>
				<p>Try for free.</p>
			</div>
			<div>
				<img src="{{@root.path}}/wg/games-club-pricing-page-widget/images/pricing-three.svg">
				<h2><strong>Cancel Anytime</strong></h2>
				<p>You can cancel the service anytime.</p>
			</div>
		</div>
	</section>
	<div class="games-club-pricing-page-widget subscription">
		<div class="games-club-pricing-page-widget container">
			<div class="games-club-pricing-page-widget subscription-content">
				<div class="games-club-pricing-page-widget subscription-image">
					<img src="{{@root.path}}/wg/games-club-about-page-widget/images/subs-desktop.png" class="games-club-about-page-widget desktop">
				</div>
				<div class="games-club-pricing-page-widget subscription-text">
					{{> @root/wg/signup-widget/signup}}
					<p>{{subscription-offering}}</p>
				</div>
			</div>
		</div>
	</div>
	{{> @root/wg/footer-widget/footer}}
</div>
</body>
</html>