<footer class="games-footer-widget footer">
	<!--Footer Links-->
	<div class="games-footer-widget footer-links">
		{{#social-links.length}}<div class="games-footer-widget socials">{{/social-links.length}}
		{{#social-links}}
			<a href="{{url}}"><img src="{{@root.path}}{{thumbnail}}"></a>
		{{/social-links}}
		{{#social-links.length}}</div>{{/social-links.length}}
		<a href="{{path}}/contact-us/">Contact Us</a> | <a href="{{path}}/faq/">Support</a> | <a
			href="{{path}}/privacy-policy/">Privacy Policy</a> | <a href="{{path}}/terms-and-conditions/">Terms of
		Use</a>
	</div>

	<div class="games-footer-widget footer-logo">
		<img src="{{@root.path}}/wg/footer-widget/images/logo-bw.png">
		<div class="games-footer-widget powered-by">Powered by <img
				src="{{@root.path}}/wg/footer-widget/images/appland.png">
		</div>
	</div>
</footer>
