<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>Categories Page</title>
	{{> @root/resources}}
</head>
<body>
	<div class="list-page-widget wrapper" id="root">
		{{> @root/wg/header-widget/header}}
		{{> @root/wg/sub-header-widget/sub-header-widget title='Categories'}}
		{{#categories-page}}
			{{> @root/wg/games-slider-widget/games-slider title=name id=category-id options=(str 'count/15/sort/rating/category/' category-id '/lang/' @root.language)}}
		{{/categories-page}}
		{{> @root/wg/footer-widget/footer}}
	</div>
</body>
</html>
