<div class="promo-slider-widget owl-carousel">
	{{#tile}}
		<a href="{{@root.path}}/games/details/?id={{appId}}" class="promo-slider-widget slide">

			{{#isAdFree}}
				<div class="promo-slider-widget slider-steps ribbon">Ads removed</div>
			{{/isAdFree}}
			{{#hasFreeInApp}}
				<div class="promo-slider-widget slider-steps diamond">Free in-app purchases</div>
			{{/hasFreeInApp}}

			{{#isPremium}}
				<div class="promo-slider-widget slider-steps gift"><span class="promo-slider-widget strike">{{orgPrice}}</span> INCLUDED</div>
			{{/isPremium}}

			<div class="promo-slider-widget slider-container">
				<img src="{{imageUri.promo}}?fm=jpg&q=50&h=500&w=1024&fit=crop" class="promo-slider-widget slider-image" />

				<div class="promo-slider-widget slider-overlay">
						<span class="promo-slider-widget slider-rating">
							{{rating}} <img src="{{@root.path}}/wg/files/images/star.png" />
						</span>
					<span class="promo-slider-widget slider-text">
						<span>Try Now</span>
					</span>
				</div>
			</div>
		</a>
	{{/tile}}
</div>
