.promo-slider-widget
	&.slide
		padding 5px
		display block

	&.strike
		position relative
		&::after
			content ""
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-size 100% 100%

	&.slider-container
		position relative
		width 100%
		box-shadow 0px -1px 5px 0px rgba(0, 0, 0, 0.6)
		.slider-overlay
			opacity 1

	&.slider-image
		display block
		width 85vw !important
		max-width 400px
		margin 0
		padding 0
		height auto

	&.slider-overlay
		position absolute
		top 80%
		bottom 0
		left 0
		right 0
		height 20%
		width 100%
		opacity 0
		transition .5s ease
		background-color rgba(0, 0, 0, 0.5)
	&.slider-steps

		padding 7px 7px
		font-size 14px
		font-weight 600
		display inline-block !important
		vertical-align middle

		&::before
			content ""
			float left
			width 14px
			height 14px
			background-size 100% 100%
			background-repeat no-repeat
			background-position center center

	&.slider-rating
		color white
		position absolute
		font-weight 600
		font-size 18px
		top 50%
		left 0
		padding 5px 10px
		transform translate(0, -50%)
		img
			display inline-block
			width 18px
			height 18px
			transform translate(0, 2px)

	&.slider-text
		span
			color white
			font-size 14px
			position absolute
			background #289ae6
			top 50%
			right 0px
			padding 2px 4px
			margin 0px 10px
			transform translate(0, -50%)
			text-decoration none
			text-transform uppercase

	& .owl-dots
		display flex
		flex-direction row
		justify-content center
		margin-top 15px

	& .owl-dot
		v-width 2vw 12px
		v-height 2vw 12px
		background #808080
		opacity .25
		border-radius 50%
		v-margin-left 0.4vw 5px
		v-margin-right 0.4vw 5px
		&.active
			opacity .75

.promo-slider-widget-color-white .owl-dot
	background #FFFFFF

.promo-slider-widget-color-white .slider-steps
	background-color #FFFFFF
	color #8a69aa
	.promo-slider-widget.strike::after
			background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='100'><line x1='5' y1='10' x2='295' y2='85' style='stroke: %238a69aa; stroke-width:8' /></svg>")

	&.ribbon::before
		background-image url(path + "/wg/files/images/icon_ribbon.png")
	&.gift::before
		background-image url(path + "/wg/files/images/icon_gift.png")
	&.diamond::before
		background-image url(path + "/wg/files/images/icon_diamond.png")

.promo-slider-widget-color-purple .slider-steps
	background-color #8a69aa
	color #FFFFFF
	.promo-slider-widget.strike::after
		background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='100'><line x1='3' y1='10' x2='295' y2='85' style='stroke: %23ffffff; stroke-width:8' /></svg>")
	&.ribbon::before
		background-image url(path + "/wg/files/images/icon_ribbon_white.png")
	&.gift::before
		background-image url(path + "/wg/files/images/icon_gift_white.png")
	&.diamond::before
		background-image url(path + "/wg/files/images/icon_diamond_white.png")


@media all and (max-width: 960px)
	.promo-slider-widget
		&.slide
			padding 0 0 0 4vw
		&.game-slider
			width 100%
			margin-top 5vw
			padding-top 4vw

		&.slider-text a
			font-size 2vw
			padding 0.7vw 1.4vw

		&.slider-rating
			font-size 5vw
			img
				width 5vw
				height 5vw
		& .owl-dots
			display none

		&.slider-steps
			font-size 3vw
			padding 1.5vw 2.2vw
			&::before
				height 2.8vw
				width 2.8vw
				float left
				padding-top 0
				margin-right 1.2vw
