.testimonial-widget
	&.comments
		width 100%
		margin-top 0
		padding 2rem 0
		background-color #f9f9f9
		display inline-block

	&.comment
		display -webkit-flex
		display inline-flex
		-webkit-flex-direction row
		flex-direction row
		padding 0 2vw
		width 100vw
		img
			width 21vw
			border-radius 50%
			margin 0 2vw
	&.comment-text
		color #3d3b3b
		font-size 4vw
		line-height 5vw
		margin 0 2vw

	&.username
		padding-top 0.5rem
		font-family Roboto-Italic
		font-weight 700

	& .owl-dots
		display flex
		flex-direction row
		justify-content center
		margin-top 15px

	& .owl-dot
		v-width 2vw 12px
		v-height 2vw 12px
		background #808080
		opacity .25
		border-radius 50%
		v-margin-left 0.4vw 5px
		v-margin-right 0.4vw 5px
		&.active
			opacity .75


@media all and (min-width: 960px)
	.testimonial-widget
		&.comment
			width 50vw
			padding 0 1vw
			img
				width 7em
				padding 0 1em
				margin 0 1vw
		&.comment-text
			margin 0 1vw
			line-height 1.3em
			font-size medium

@media all and (min-width: 1920px)
	.testimonial-widget
		&.comment
			width 33.333vw
