<section class="testimonial-widget comments owl-carousel">
	<div class="testimonial-widget comment">
		<div class="testimonial-widget profile-image">
			<img src="{{path}}/wg/testimonial-widget/images/tobias.jpg">
		</div>
		<div class="testimonial-widget comment-text">
			I love this service! Never more worring about ads or timers popping up in my face. My best 15 minutes of the day!
			<div class="testimonial-widget username">
				- Tobias Ekblom, 32
			</div>
		</div>
	</div>
	<div class="testimonial-widget comment">
		<div class="testimonial-widget profile-image">
			<img src="{{path}}/wg/testimonial-widget/images/daniel.jpg">
		</div>
		<div class="testimonial-widget comment-text">
			I put these games infront of my kids and am comfortable with that there will be no surprises. My only time off during the day ;)
			<div class="testimonial-widget username">
				- Daniel Nilsson, 39
			</div>
		</div>
	</div>
	<div class="testimonial-widget comment">
		<div class="testimonial-widget profile-image">
			<img src="{{path}}/wg/testimonial-widget/images/caroline.jpg">
		</div>
		<div class="testimonial-widget comment-text">
			I'm a casual gamer and love to try different games. Played so many nice ones and it is great to reach the end without any annoying ads.
			<div class="testimonial-widget username">
				- Caroline Merkel, 25
			</div>
		</div>
	</div>
</section>
