<div class="games-slider owl-carousel">
	{{#tile}}
		<a class="game-slide" href="{{@root.path}}/games/details/?id={{appId}}">
			<div class="wrap">
				<img class="game-slide-icon" src="{{imageUri.icon}}?w=324&h=324&fm=jpq&q=50">
				<h3>{{description.title}}</h3>
				{{#isAdFree}}
					<div class="badge">
						<img src="{{@root.path}}/wg/files/images/icon_ribbon.png">Ads
						Removed
					</div>
				{{/isAdFree}}
				{{#hasFreeInApp}}
					<div class="badge">
						<img src="{{@root.path}}/wg/files/images/icon_diamond.png">
						Free In App Purchases
					</div>
				{{/hasFreeInApp}}
				{{#isPremium}}
					<div class="badge">
						<img src="{{@root.path}}/wg/files/images/icon_gift.png"> <span>{{orgPrice}}</span>
						Included
					</div>
				{{/isPremium}}
				<div class="star-rating-display">
					<span style="width: {{ratingInPercentage}}">★★★★★</span>
				</div>
			</div>
		</a>
	{{/tile}}
</div>
