.games-club-about-page-widget
	&.container
		max-width 1920px
		width 100%
		margin 0 auto
	&.desktop
		display none
	&.mobile
		display block
	&.banner
		background url(path + "/wg/games-club-about-page-widget/images/banner-mobile.png") no-repeat
		background-size 100%
		height 133vw
	&.banner-content
		color #ffffff
		text-align center
		h1
			font-size 11vw
			font-weight 700
			letter-spacing 1px
			padding-top 20.0316301703163vw
			padding-bottom 3.35279805352798vw
		p
			font-size 3.7vw
			line-height 7vw
	&.underline
		color #764bba
		font-size 9vw
	&.underline-inverted
		color #ffffff
		font-size 9vw
	&.start-playing-now
		background-color #ffffff
		text-align center
		padding 10.0559610705596105vw
		box-shadow 0px 1px 3px 0px rgba(0, 0, 0, 0.07)
		button
			border none
			box-shadow 0px 1px 3px 0px rgba(0, 0, 0, 0.21)
			color #ffffff
			font-size 5vw
			font-weight 700
			border-radius 0.1em
			background-color #289ae6
			padding 5.10948905109489vw 6.08272506082725vw
	&.bye-bye-ads
		width 100%
		display block
		text-align center
		background-color #ffffff
		h1
			font-size 11vw
			font-weight 700
			color #764bba
			padding-top 10.21897810218978vw
			padding-bottom 0
		p
			font-size 4.2vw
			color #6a6a6a
			padding-top 4.10948905109489vw
			padding-bottom 2vw
		div
			width 100%
		img
			width 100%
			height 100%
	&.hundred-percent-fun
		width 100%
		text-align center
		background-color #ffffff
		h1
			font-size 11vw
			font-weight 700
			color #764bba
			padding-top 10.21897810218978vw
			padding-bottom 0
		p
			font-size 4.2vw
			color #6a6a6a
			padding-top 4.10948905109489vw
			padding-bottom 8vw
	&.features
		text-align left
		padding 0 0 4vw 11.27250608272506vw
		margin 0
	&.feature
		display inline-flex
		img
			width 7.78588807785888vw
			height 7.78588807785888vw
		h2
			font-weight 700
			color #6a6a6a
			font-size 4.56301703163017vw
		p
			font-size 3.46301703163017vw
			font-weight 400
			line-height 1.3
			padding-top 2vw
	&.feature-text
		width 100%
		padding-left 3.5vw
	&.our-vision
		background url(path + "/wg/games-club-about-page-widget/images/vision-banner-mobile.png") no-repeat
		background-size 100% 100%
		text-align center
		height 130vw
		h1
			font-size 11vw
			font-weight 700
			color #ffffff
			padding-top 10.21897810218978vw
			padding-bottom 0
		p
			font-size 4.2vw
			line-height 6vw
			color #ffffff
			font-weight 400
			letter-spacing 1.2px
			padding-top 3.10948905109489vw
		img
			width 100%
			padding 6.9vw
			bottom 0
	&.join-community
		width 100%
		text-align center
		background-color #ffffff
		img
			padding-top 13.21897810218978vw
			margin auto
		h1
			font-size 11vw
			font-weight 700
			color #764bba
			padding-top 8vw
			padding-bottom 0
		p
			font-size 4.7vw
			line-height 1.2
			color #6a6a6a
			padding-top 4.10948905109489vw
			padding-bottom 11vw
	&.subscription
		width 100%
		background url(path + "/wg/games-club-about-page-widget/images/subscription-background-mobile.png") center no-repeat
		background-size cover
		color #ffffff
		display block
		height 63.661800486618vw
		padding-top 14.5985401459854vw
		text-align center
		p
			font-size 3.18978102189781vw
			font-weight: 200




@media all and (min-width: 666px)
	.signup-widget
		//margin 0 auto !important
		display block !important
		padding 3em 0
		&-container
			display flex
			margin-left 0
			flex-direction column !important
			position static !important
			width 100%
		&-input-field
			margin 0 auto !important
			width 100% !important
			height 30em
		&-submit
			margin 20px auto 0 !important
			width 10em !important
			height 2em !important
			padding 0 !important
	.games-club-about-page-widget
		&.desktop
			display block
		&.mobile
			display none
		&.underline, &.underline-inverted
			font-size 2em
		&.banner
			background url(path + "/wg/games-club-about-page-widget/images/banner-desktop.jpg") no-repeat
			background-size cover
			background-position bottom center
			height auto
			width 100%
			box-shadow: 0px 19px 31px -38px rgba(0,0,0,1);
		&.banner-content
			width 100%
			display inline-flex
			div
				align-items center
		&.banner-image
			width 50%
			text-align: right
			padding-right: 2em
			img
				width auto
				height 100%
		&.banner-text
			width 50%
			padding-top 50px
			padding-left 2em
			padding-bottom 3vw
			text-align left
			h1
				font-size 3.078em
				font-weight 600
				padding-top 2.5em
				padding-bottom 20px
			p
				font-size 1.053em
				font-weight 600
				line-height 1.6
				margin-bottom 20px
			a
				border none
				width 200px
				color #ffffff
				font-size 0.899em
				font-weight 700
				border-radius 3px
				background-color #289ae6
				box-shadow 0px 3px 7px 0px rgba(0, 0, 0, 0.21)
				padding 1em 1.9em
		&.bye-bye-ads > .container
			display inline-flex
			justify-content center
			text-align left
			padding 0.7em 4em
			width 100%
			box-shadow: 0px 19px 31px -38px rgba(0,0,0,1);
			h1
				font-size 1.827em
				padding-top 1.625em
				padding-bottom 0.239em
			p
				font-size 0.853em
				font-weight 600
				padding-top 0.293em
			div:nth-child(1)
				width 45%
				align-self center
				text-align center
			div:nth-child(2)
				width 55%
				align-self center
				margin auto
			img
				width 100%
				margin auto
				padding 1.9em !important
		&.hundred-percent-fun > .container
			width 100%
			text-align center
			background-color #ffffff
			h1
				font-size 1.827em
				font-weight 700
				padding-top 1.625em
				padding-bottom 0
			p
				font-size 7px
				color #6a6a6a
				padding-top 0.693em
				padding-bottom 0.693em
		&.epic
			display inline-flex
			margin 0 auto
			width 100%
			padding 0 0 0 7%
			align-items center
			div
				width 50%
			div:nth-child(1)
				width 50%
				img
					width 100%
					padding 2em
		&.features
			padding 2.5em 0
			width 100%
		&.feature
			width 100% !important
			img
				width 2.000em !important
				height 2.000em !important
				padding 0 !important
			img:nth-child(1)
				width 2.000em !important
				height 2.000em !important
			h2
				font-size 0.714em
		&.feature-text
			padding-left 30px
			h2
				font-size 10px
			p
				font-size 20px
		&.our-vision
			background url(path + "/wg/games-club-about-page-widget/images/vision-desktop.jpg") center no-repeat
			background-size 100% 100%
			height 32.188em
		&.our-vision > .container
			padding 0 2em
			h1
				font-size 1.827em
				padding-top 1.625em
				padding-bottom 0em
			p
				font-size 0.853em
				font-weight 400
				padding-top 0.793em
				line-height 1.4
				padding-bottom 0.693em
				padding 0 7vw
			img
				padding 2em 0
				padding-top 2.88em !important
				margin auto
				height 20em !important
				width 25em !important
		&.join-community > .container
			display inline-flex
			padding 0 5em
			margin auto
			h1
				font-size 1.827em
				padding-top 0
				padding-bottom 0.239em
			p
				font-size 0.853em
				padding-top 0.293em
				padding-bottom 0.693em
			div:nth-child(2)
				width 50%
				align-self center
				align-items center
				text-align left
			div:nth-child(1)
				width 50%
				align-self center
				margin auto
			img
				width 270px
				height 287px
				margin auto
				padding 2em 2em
		&.subscription
			background url(path + "/wg/games-club-about-page-widget/images/subscription-background-desktop.png") no-repeat
			background-size 100% 100%
			padding 0
			height auto
		&.subscription > .container
			display inline-flex
			margin-top 0 !important
			height 100%
			align-items center
			padding 0
			p
				padding-top 0
				font-size 0.953em
			div
				width 50%
				padding-bottom 0.654em
				align-items center
				justify-content center
				vertical-align middle
				div
					padding-top 15%
					margin 0 auto
					justify-content center
					vertical-align middle
				img
					width 100%
					padding 2em 4em
		&.subscription > .container div div
			padding-top: 0
			margin: 0 auto
			width: 80%

@media all and (min-width: 960px)
	.signup-widget
			//margin 0 auto !important
			display block !important
			padding 0 0
			&-container
				display flex
				flex-direction column !important
				position static !important
				width 100%
			&-input-field
				width 30em !important
				height 3.5em !important
			&-submit
				width 20em
				height 2.6em !important
				padding 0 !important
	.games-club-about-page-widget
		&.bye-bye-ads > .container
			h1
				font-size 3.056em
			p
				font-size 1.324em
		&.hundred-percent-fun > .container
			h1
				font-size 3.056em
			p
				font-size 13.5px
		&.feature
			h2
				font-size 18px
			p
				font-size 10px
		&.feature-text
			p
				font-size 40px
		&.our-vision
			height 46.857em
		&.our-vision > .container
			h1
				font-size 3.056em
			p
				font-size 1em
			img
				padding 0
				margin auto
				height 32em !important
				width 49em !important
		&.join-community > .container
			h1
				font-size 3.056em
			p
				font-size 1.324em
				line-height 1.6
			img
				width 55%
				margin auto
				padding 2em 2em
		&.subscription
			background url(path + "/wg/games-club-about-page-widget/images/subscription-background-desktop.png") no-repeat
			background-size 100% 100%
			padding 0
			height auto
		&.subscription > .container
			display inline-flex
			margin-top 0 !important
			height 100%
			padding 0
			p
				padding-top 0
				font-size 0.953em
			div
				width 50%
				padding-bottom 0.654em
				align-items center
				justify-content center
				vertical-align middle
				div
					padding-top 15%
					margin 0 auto
					justify-content center
					vertical-align middle
				img
					width 100%
					padding 2em 4em
		&.subscription > .container
			img
				padding 2em 8em !important
			p
				font-size 1.114em
		&.subscription > .container div div
			padding-top: 10px
			margin: 0 auto
			width: 80%
@media all and (min-width: 1920px)
	.games-club-about-page-widget
		&.banner, &.subscription
			background-size: cover