box-shadow(args...)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

@import "/wg/files/css/owl.carousel.styl"
@import "/wg/footer-widget/css/footer.styl"
@import "/wg/header-widget/css/header.styl"

@font-face
	font-family Roboto
	font-weight 700
	src url(path + '/wg/files/fonts/Roboto-Bold.ttf')

@font-face
	font-family Roboto
	font-style italic
	src url(path + '/wg/files/fonts/Roboto-Italic.ttf')

@font-face
	font-family Roboto
	font-weight 400
	src url(path + '/wg/files/fonts/Roboto-Light.ttf')

@font-face
	font-family Roboto
	font-weight 600
	src url(path + '/wg/files/fonts/Roboto-Regular.ttf')

html, body, div, span, h1, h2, h3, h4, p, a, img, ul, li
	margin 0
	padding 0
	border 0
	outline 0
	font-weight inherit
	font-style inherit
	font-family inherit
	font-size 100%
	vertical-align baseline

body
	color #000
	font 100% / 1.5 'Roboto', sans-serif
	line-height 1
	scroll-behavior smooth
	zoom 1
	background #f0f0f1
	&:after
		clear both
	script
		display none !important

ul
	list-style none

a
	text-decoration none
	img
		border none

*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

h1
	font-size 2em

h1, p
	margin-bottom .2em

html, body
	width 100%

body:before, body:after
	content ""
	display table

// Imports after core
@import "/wg/spinner-widget/spinner-widget.styl"
@import "/wg/sub-header-widget/sub-header-widget.styl"
@import "/wg/games-slider-widget/css/games-slider.styl"
@import "/wg/games-page-widget/css/games-page-widget.styl"
@import "/wg/games-club-landing-page-widget/css/games-club-landing-page-widget.styl"
@import "/wg/games-club-about-page-widget/css/games-club-about-page-widget.styl"
@import "/wg/games-club-contact-page-widget/css/games-club-contact-page-widget.styl"
@import "/wg/games-club-faq-page-widget/css/games-club-faq-page-widget.styl"
@import "/wg/games-club-pricing-page-widget/css/games-club-pricing-page-widget.styl"
@import "/wg/games-club-terms-page-widget/css/games-club-terms-page-widget.styl"
@import "/wg/games-club-privacy-page-widget/css/games-club-privacy-page-widget.styl"
@import "/wg/game-detail-page-widget/css/game-detail-page-widget.styl"
@import "/wg/promo-slider-widget/promo-slider-widget.styl"
@import "/wg/signup-widget/signup.styl"
@import "/wg/testimonial-widget/testimonial-widget.styl"
