.games-club-contact-page-widget
	&.desktop
		display none
	&.mobile
		display block
	&.banner
		background #ffffff url(path + "/wg/games-club-contact-page-widget/images/background-mobile.png") no-repeat
		background-size 100% 100%
		color #ffffff
		text-align center
		padding 35vw 8vw
		h1
			font-size 12vw
			letter-spacing 1px
			font-weight 700
		p
			font-size 4.2vw
			line-height 1.3
			font-weight 400
	&.contacts
		padding 10vw 5vw
		background #ffffff
		article
			padding 3vw 0
			header
				a:link
					color #7600e3
					font-weight 700
					font-size 5vw
					line-height 1.5
			p
				font-size 4.3vw
				font-weight 600
				line-height 1.3

@media all and (min-width: 480px)
	.games-club-contact-page-widget
		&.mobile
			display none
		&.desktop
			display block
		&.container
			width 100%
			height 100%
		&.contact-footer
			position absolute
			width 100%
		&.smartphone
			position absolute
			img
				width 50%
				height 100% !important
		&.banner
			display inline-flex
			width 100%
			padding 0
			text-align left
			position relative
			background #ffffff url(path + "/wg/games-club-contact-page-widget/images/background-desktop.png") no-repeat
			background-size 100% 100%
		&.banner-text
			padding-top 39.5vw
			padding-left 50%
			h1
				font-size 4vw
				text-transform uppercase
				padding-left 3vw
				letter-spacing 1px
			p
				font-size 1.9vw
				padding-left 3vw
				padding-right 1.9vw
				padding-bottom 2.7vw
				font-weight 400
		&.contacts
			padding 2vw 10vw 8vw 50%
			article
				padding 0 0 2.37vw 3vw
				header
					a:link
						font-size 1.8vw
				p
					font-size 1.57vw
					line-height 1.5


@media all and (min-width: 1116px)
	.games-club-contact-page-widget
		&.banner
			padding 0
		&.banner-text
			padding-top 20.2em
			h1
				font-size 3em
				padding-left 0
				letter-spacing 1px
			p
				font-size 1em
				padding-left 0
				padding-right 15em
				padding-bottom 2.9em
		&.contacts
			padding 2.9em 19em 3em 50%
			article
				padding 0 0 1.5em 0
				header
					a:link
						font-size 1.2em
				p
					font-size 1em