<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>About | World's 400 best games</title>
	{{> @root/resources}}
</head>
<body>

<div class="games-club-about-page-widget wrapper">
	{{> @root/wg/header-widget/header}}
	<div class="games-club-about-page-widget banner">
		<div class="games-club-about-page-widget container">
			<div class="games-club-about-page-widget banner-content">
				<div class="games-club-about-page-widget banner-image desktop">
					<img src="{{@root.path}}/wg/games-club-about-page-widget/images/phone.png">
				</div>
				<div class="games-club-about-page-widget banner-text">
					<h1>Meet Games Club </h1>
					<p class="games-club-about-page-widget mobile">
						An all-you-can-play Android subscription service<br>
						with instant, unlimited access to over <strong>400 <br>
						chart-topping games. Fully unlocked</strong> — no ads <br>
						and <strong>no in-app purchases</strong> — for one low price.
					</p>
					<p class="games-club-about-page-widget desktop">
						An all-you-can-play Android subscription service
						with instant,<br> unlimited access to over <strong>400
						chart-topping games. Fully<br> unlocked</strong> — no ads
						and <strong>no in-app purchases</strong> — for one low price.
					</p>
					<a href="#startPlayingNow" class="games-club-about-page-widget desktop">START PLAYING NOW</a>
				</div>
			</div>
		</div>
	</div>
	<section class="games-club-about-page-widget start-playing-now mobile tablet">
		<button>START PLAYING NOW</button>
	</section>
	<section class="games-club-about-page-widget bye-bye-ads">
		<div class="games-club-about-page-widget container">
			<div>
				<h1><strong>Bye Bye Ads</strong></h1>
				<div class="games-club-about-page-widget underline mobile">&mdash; &middot;&middot;&middot; &mdash;</div>
				<p>It is true. No nagging Ads.</p>
			</div>
			<img src="{{@root.path}}/wg/games-club-about-page-widget/images/magic_update.png" alt="bye bye update" class="games-club-about-page-widget mobile">
			<div><img src="{{@root.path}}/wg/games-club-about-page-widget/images/our-team.png" alt="bye bye update" class="games-club-about-page-widget tablet desktop"></div>
		</div>
	</section>
	<section class="games-club-about-page-widget hundred-percent-fun">
		<div class="games-club-about-page-widget container">
			<h1>100% Fun</h1>
			<div class="games-club-about-page-widget underline">&mdash; &middot;&middot;&middot; &mdash;</div>
			<p><strong>What else are Games for?</strong></p>
			<div class="games-club-about-page-widget epic">
				<div>
					<img src="{{@root.path}}/wg/games-club-about-page-widget/images/image04.png" class="games-club-about-page-widget tablet desktop">
				</div>
				<div class="games-club-about-page-widget features">
					<div class="games-club-about-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-about-page-widget/images/about-one.svg" class="test">
						<div class="games-club-about-page-widget feature-text">
							<h2>All You Can Play - Top #1 </h2>
							<p>
								Access the world's most popular games <br>
								instantly, and play as much as you want, as <br>
								often as you want
							</p>
						</div>
					</div>
					<div class="games-club-about-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-about-page-widget/images/about-two.svg">
						<div class="games-club-about-page-widget feature-text">
							<h2>Ads Removed </h2>
							<p>Play uninterrupted with no ads or waiting <br>times</p>
						</div>
					</div>
					<div class="games-club-about-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-about-page-widget/images/about-three.svg">
						<div class="games-club-about-page-widget feature-text">
							<h2>Free In-App Purchases </h2>
							<p>Get coins, armour, swords and power <br>ups. Access to ALL levels and ALL <br>add-ons for free
							</p>
						</div>
					</div>
					<div class="games-club-about-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-about-page-widget/images/about-four.svg">
						<div class="games-club-about-page-widget feature-text">
							<h2>New Games Every Week </h2>
							<p>Play new Games every week </p>
						</div>
					</div>
					<div class="games-club-about-page-widget feature">
						<img src="{{@root.path}}/wg/games-club-about-page-widget/images/about-five.svg">
						<div class="games-club-about-page-widget feature-text">
							<h2>Free Trial </h2>
							<p>Try for free and cancel anytime</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="games-club-about-page-widget our-vision">
		<div class="games-club-about-page-widget container">
			<h1>Our Vision</h1>
			<div class="games-club-about-page-widget underline-inverted">&mdash; &middot;&middot;&middot; &mdash;</div>
			<p class="games-club-about-page-widget mobile">
				We believe in bringing back the fun in <br>Games. Our vision is to build a brilliant <br>unlimited gaming
				service
				where you <br>indulge in the world’s best games without <br>annoying ads and in-app purchase.
			</p>
			<p class="games-club-about-page-widget desktop">
				We believe in bringing back the fun in Games. Our vision is to build a brilliant unlimited gaming service
				where you indulge in the world’s best games without annoying ads and in-app purchase.
			</p>
			<img src="{{@root.path}}/wg/games-club-about-page-widget/images/vision.png" class="games-club-about-page-widget desktop">
		</div>
	</section>
	<section class="games-club-about-page-widget join-community">
		<div class="games-club-about-page-widget container">
			<div>
				<img src="{{@root.path}}/wg/games-club-about-page-widget/images/pricing-character.png" class="games-club-about-page-widget mobile">
				<img src="{{@root.path}}/wg/games-club-about-page-widget/images/frog-desktop.png" class="games-club-about-page-widget tablet desktop">
			</div>
			<div>
				<h1><strong>Join 500,000</strong></h1>
				<div class="games-club-about-page-widget underline mobile">&mdash; &middot;&middot;&middot; &mdash;</div>
				<p class="games-club-about-page-widget mobile"><strong>Over 500 000 people love the service <br>and we hope that you will join our <br>community of happy players.</strong></p>
				<p class="games-club-about-page-widget desktop"><strong>Over 500 000 people love the service and we hope that you will join our community of happy players.</strong></p>
			</div>
		</div>
	</section>
	<div class="games-club-about-page-widget subscription" id="startPlayingNow">
		<div class="games-club-about-page-widget container">
			<div>
				<img src="{{@root.path}}/wg/games-club-about-page-widget/images/subs-desktop.png" class="games-club-about-page-widget desktop">
			</div>
			<div>
				{{> @root/wg/signup-widget/signup}}
				<p>{{subscription-offering}}</p>
			</div>
		</div>
	</div>
	{{> @root/wg/footer-widget/footer}}
</div>
</body>
</html>