<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>Games Page</title>
	{{> @root/resources}}
</head>
<body>
<div class="games-page-widget wrapper" id="root">
	{{> @root/wg/header-widget/header}}
	<div class="games-page-widget banner-slider" id="banner" data-options="list/{{games-page.banner}}/filter/promo/lang/{{language}}">
		{{> @root/wg/spinner-widget/spinner-widget class="games-slider-spinner"}}
	</div>
	<div class="games-page-widget nav-pills">
		<a href="{{@root.path}}/games/categories" class="games-page-widget nav-pill">Categories</a>
		<a href="{{@root.path}}/games/toplists" class="games-page-widget nav-pill">Toplists</a>
	</div>
	{{> @root/wg/games-slider-widget/games-slider title='Featured Games' id='featured' options=(str 'count/15/list/' games-page.featured '/lang/' @root.language)}}
	{{> @root/wg/games-slider-widget/games-slider title='Adventure Games' id='adventure' options=(str 'count/15/sort/rating/category/' games-page.racing '/lang/' @root.language) class='adventure-games-container'}}
	{{> @root/wg/games-slider-widget/games-slider title='Racing' id='racing' options=(str 'count/15/sort/rating/category/' games-page.adventure '/lang/' @root.language)}}
	{{> @root/wg/games-slider-widget/games-slider title='Popular' id='popular' options=(str 'count/15/list/2/lang/' @root.language)}}
	{{> @root/wg/footer-widget/footer}}
</div>
</body>
</html>
