<div class="owl-carousel">
	{{#tile}}
		<div class="games-page-widget banner-slide">
			<a href="{{@root.path}}/games/details/?id={{appId}}"><img src="{{imageUri.promo}}?fm=jpg&q=50&h=500&w=1024&fit=crop"></a>
		</div>
	{{/tile}}
</div>
