<div class="nav">
	<div class="nav container">
		<div class="nav-header">
			<div class="nav-title">
				<a href="{{path}}/"><img src="{{@root.path}}/wg/files/images/logo.png" alt="{{clubname}}"></a>
			</div>
		</div>
		<input type="checkbox" id="nav-check">
		<div class="nav-links">
			<a href="{{path}}/">Home</a>
			<a href="{{path}}/about/">About Us</a>
			<a href="{{path}}/games/">Games</a>
			<a href="{{path}}/pricing/">Pricing</a>
			<a href="{{path}}/faq/">FAQ</a>
			<a href="{{path}}/">
				<img src="{{@root.path}}/wg/header-widget/images/user.png" class="mobile">
				<!--<img src="{{@root.path}}/wg/header-widget/images/user-inverted.png" class="desktop">-->
				Sign In
			</a>
		</div>
		<div class="nav-btn">
			<label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</div>
	</div>
</div>