<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>FAQs | World's 400 best games</title>
	{{> @root/resources}}
</head>
<body>

<div class="games-club-faq-page-widget wrapper">
	{{> @root/wg/header-widget/header}}
	<section class="games-club-faq-page-widget banner">
		<div class="games-club-faq-page-widget container">
			<h1>Frequently Asked Questions</h1>
		</div>
	</section>
	<section class="games-club-faq-page-widget faqs ">
		<div class="games-club-faq-page-widget container">
			<div>
				<button class="games-club-faq-page-widget accordion"><p>What is Appland?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>Appland is a subscription club for Android games. For a single monthly fee, you get unlimited access
						to
						hundreds of the best Android games with no ads, in-app purchases or other charges.</p>
				</div>
			</div>

			<div>
				<button class="games-club-faq-page-widget accordion"><p>How long is the Free Trial?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>The free trial period is 14 days. To start your free trial, you must accept the Terms of Service and
						by
						the end of the free trial period you'll be charged automatically unless you cancel the subscription
						within the free trial period.</p>
				</div>
			</div>

			<div>
				<button class="games-club-faq-page-widget accordion"><p>How do I pay for the subscription?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>The payment is made periodically through your chosen payment method. At the moment we support major
						credit and debit cards and will be adding more payment methods soon.</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>How do I install a game/app?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>You can install a game/app from the club when you have subscribed to the service and have an Internet
						connection via Wi-Fi or mobile data. Open the club, tap on a game/app and then tap "Install".</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>How many games/apps can I download?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>If your subscription is active, you can download and use as many games/apps as you want.</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>Are there really no in-app purchases?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>Some games will have in-app purchases and some will not. For games with in-app purchases, you will be given free virtual dollars that can be used to buy coins, upgrades, level-ups, etc.</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>How many games/apps can I have on my smartphone?</p>
				</button>
				<div class="games-club-faq-page-widget panel">
					<p>On average, the available games/apps are about 40 megabytes. If you have 2 gigabytes of space free on
						your smartphone, it's possible to store approximately 100 applications. Your subscription has no limits
						on the number of games/apps you can have installed on your device.</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>I changed my phone, how do I install Appland on the
					new phone.</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>You can download and install the latest version of Appland <a href="">here</a>. Don't forget you have
						to enable <a href="">unknown sources</a> on the new device as well.</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>Where do I find my installed games/apps?</p>
				</button>
				<div class="games-club-faq-page-widget panel">
					<p>Open the club, tap on the menu icon in the top right corner and then "My Apps".</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>How do I uninstall a game/app?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>Simply go to the specific game/app in the club and tap on the three dots on the "Open" button and
						then "Uninstall".</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>Why am I not able to download a game/app?</p>
				</button>
				<div class="games-club-faq-page-widget panel">
					<p>Should you encounter any issues downloading a game/app, check the following:
						<br>
						1. The storage space on your device (the game/app will not download if there is insufficient storage
						space on your device)<br>
						2. Your connection (a bad connection can prevent a download from completing).<br>
						3. Under settings, security device administration, check "unknown sources" which allow installation
						of applications from sources other than the Google Play store.
					</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>How do I cancel my subscription?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p><a href="">Click here to unsubscribe</a> and follow the on screen instructions</p>
				</div>
			</div>
			<div>
				<button class="games-club-faq-page-widget accordion"><p>When I cancel my subscription, can I still use
					downloaded games/apps?</p></button>
				<div class="games-club-faq-page-widget panel">
					<p>Games/apps are associated with the subscription, if you cancel the subscription, you can no longer
						use the installed games/apps.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="games-club-faq-page-widget support">
		<div class="games-club-faq-page-widget container">
			<h1>Support Contact</h1>
			<hr>
			<p>We love to help you, drop us an email at <a href="mailto:{{contact-support-mail}}">{{contact-support-mail}}</a></p>
		</div>
	</section>
	{{> @root/wg/footer-widget/footer}}
</div>
</body>
</html>