<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>Contact Us | World's 400 best games</title>
	{{> @root/resources}}
</head>
<body>

<div class="games-club-contact-page-widget wrapper">
	{{> @root/wg/header-widget/header}}
	<section class="games-club-contact-page-widget banner">
		<div class="games-club-contact-page-widget container">
			<div class="games-club-contact-page-widget smartphone desktop">
				<img src="{{@root.path}}/wg/games-club-contact-page-widget/images/smartphone.png">
			</div>
			<div class="games-club-contact-page-widget banner-text">
				<h1>Contact Us</h1>
				<p>We'd love to hear from you so drop us an email at the most appropriate address below</p>
			</div>
		</div>
	</section>
	<section class="games-club-contact-page-widget contacts">
		<div class="games-club-contact-page-widget container">
			<article>
				<header>
					<a href="mailto:{{contact-support-mail}}">{{contact-support-mail}}</a>
				</header>
				<p>if you have issues with your account, the app or any games.</p>
			</article>
			<article>
				<header>
					<a href="mailto:{{contact-media-mail}}">{{contact-media-mail}}</a>
				</header>
				<p>if you’re media and want further information about us.</p>
			</article>
			<article>
				<header>
					<a href="mailto:{{contact-developer-mail}}">{{contact-developer-mail}}</a>
				</header>
				<p>if you’re a game developer or publisher and want more information about the service. </p>
			</article>
		</div>
	</section>
</div>
<div class="games-club-contact-page-widget contact-footer">
	{{> @root/wg/footer-widget/footer}}
</div>
</body>
</html>