.sub-header-widget
	width 100%
	background secondaryColor
	color #ffffff
	font-size 5vw
	padding 3vw
	display flex
	align-items center

	img
		width 7vw
		margin-right 3vw

@media all and (min-width: 480px)
	.sub-header-widget
		width 100%
		background secondaryColor
		color #ffffff
		font-size 22px
		padding 15px

		img
			width 32px
			margin-right 15px
