.games-club-privacy-page-widget
	&.container
		max-width 1920px
		margin 0 auto
	&.mobile
		display block
	&.desktop
		display none
	&.banner
		background #ffffff url(path + "/wg/games-club-privacy-page-widget/images/background-mobile.png") no-repeat
		background-size 100% 100%
		color #ffffff
		text-align center
		padding 25vw 0
		h1
			font-weight 700
			letter-spacing 0.8px
			font-size 10.58588807785888vw
	&.content
		color #a1a1a1
		background #ffffff
		padding 6.56934306569343vw
		line-height 1.5
		h1, h2
			color #7f52a7
			font-size 4.585vw
			font-weight 700
			line-height 2
		h2
			font-size 4.385vw
		ul
			list-style-type circle
			list-style-position inside

		p, ul
			color #a1a1a1
			font-size 3.5vw
			line-height 1.6


@media all and (min-width: 480px)
	.games-club-privacy-page-widget
		&.mobile
			display none
		&.desktop
			display block
		&.banner
			background url(path + "/wg/games-club-privacy-page-widget/images/background-desktop.png") no-repeat
			background-size 100% 100%
			padding 10em 0 !important
			h1
				font-size 3.286em
		&.content
			padding 3em 7em
			h1
				font-size 1.586em
			h2
				font-size 1.486em
			p, ul
				font-size 1em