.games-page-widget

	&.wrapper
		width 100%
		height 100%
		background-color #f0f0f1
	&.banner-slide
		img
			width 100%

	&.nav-pills
		display flex
		padding 5.6vw 2.93vw 0

	&.nav-pill
		display inline-flex
		background-color primaryColor
		color #FFFFFF
		text-transform uppercase
		font-size 4vw
		padding 1.4vh 3.6vh
		-webkit-border-radius 5vw
		-moz-border-radius 5vw
		border-radius 5vw
		margin-right 4vw

	&:not(:first-child):not(:last-child)
		-webkit-border-radius 0
		-moz-border-radius 0
		border-radius 0

	&.games-container
		background #f0f0f1
		h2
			font-size 7.2vw
			color secondaryColor
			margin-bottom 4.26vw

	& .adventure-games-container
		background url(path + "/wg/games-page-widget/images/background-mobile.jpg") no-repeat left top 100%
		background-size cover
		h2
			color #ffffff

	&.wrap
		width 100%
		height 100%

.is-vishidden
	position absolute !important
	overflow hidden
	width 1px
	height 1px
	padding 0
	border 0
	clip rect(1px, 1px, 1px, 1px)

@media all and (min-width: 480px)
	.games-page-widget
		&.mobile
			display none

@media all and (min-width: 480px)
	.games-page-widget
		&.banner-slider
			height 310px
		&.banner-slider
			padding 20px 0
		&.banner-slide
			max-height 310px
			margin-right 10px
		&.banner-slide
			img
				width auto
				height 300px
		&.nav-pills
			display flex
			padding 30px 20px 0
		&.wrap
			width 100%
			height 100%
		&.nav-pills
			display flex
			width 100%
			padding 30px 2.93vw 0
			justify-content center
		&.nav-pill
			display inline-flex
			background-color primaryColor
			color #FFFFFF
			text-transform uppercase
			font-size 17px
			padding 14px 30px
			-webkit-border-radius 4vw
			-moz-border-radius 4vw
			border-radius 5vw
			margin-right 0.8333333333333334vw

			&:not(:first-child):not(:last-child)
				-webkit-border-radius 0
				-moz-border-radius 0
				border-radius 0

@media all and (min-width: 480px)
	.games-page-widget.banner-slider .slick-prev, .games-page-widget.banner-slider .slick-next
		opacity 0
		transition 1s

@media all and (min-width: 480px)
	.games-page-widget.banner-slider:hover .slick-prev, .games-page-widget.banner-slider:hover .slick-next
		opacity 1
		transition 1s
