<div class="game-detail-page-widget back">
	<a href="#" onClick="history.go(-1); return false;"><img src="{{@root.path}}/wg/files/images/arrow_back.png"></a>
</div>
<div class="game-detail-page-widget banner">
	<img src="{{imageUri.promo}}?h=250&w=512&fit=crop">
</div>

<div class="game-detail-page-widget app-detail">
	<div class="game-detail-page-widget app-icon">
		<img src="{{imageUri.icon}}">
	</div>
	<div class="game-detail-page-widget app-title">
		<h2><strong>{{description.title}}</strong></h2>
		<p>{{company}}</p>
		<p class="game-detail-page-widget mobile">Age {{ageRating}}+</p>
		<div class="game-detail-page-widget app-install desktop">
			{{#isAdFree}}
				<div class="game-detail-page-widget app-badge desktop">
					<img src="{{@root.path}}/wg/game-detail-page-widget/images/icon_ribbon.png">
					<h3>AD FREE <br>VERSION</h3>
				</div>
			{{/isAdFree}}
			{{#hasFreeInApp}}
				<div class="game-detail-page-widget app-badge desktop">
					<img src="{{@root.path}}/wg/game-detail-page-widget/images/icon_diamond.png">
					<h3>FREE IN APP<br/> PURCHASES</h3>
				</div>
			{{/hasFreeInApp}}
			{{#isPremium}}
				<div class="game-detail-page-widget app-badge desktop">
					<img src="{{@root.path}}/wg/game-detail-page-widget/images/icon_gift.png">
					<h3><span>{{orgPrice}}</span><br/> INCLUDED</h3>
				</div>
			{{/isPremium}}
			<div class="game-detail-page-widget install-button">
				<button onclick="applandOnClickInstall('{{appId}}', '{{androidFeatures.packageName}}')">
					TRY NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div class="game-detail-page-widget mobile app-install">
	{{#isAdFree}}
		<div class="game-detail-page-widget app-badge mobile">
			<img src="{{@root.path}}/wg/game-detail-page-widget/images/icon_ribbon.png">
			<h3>AD FREE <br>VERSION</h3>
		</div>
	{{/isAdFree}}
	{{#hasFreeInApp}}
		<div class="game-detail-page-widget app-badge mobile">
			<img src="{{@root.path}}/wg/game-detail-page-widget/images/icon_diamond.png">
			<h3>FREE IN APP<br/> PURCHASES</h3>
		</div>
	{{/hasFreeInApp}}
	{{#isPremium}}
		<div class="game-detail-page-widget app-badge mobile">
			<img src="{{@root.path}}/wg/game-detail-page-widget/images/icon_gift.png">
			<h3><span>{{orgPrice}}</span><br/> INCLUDED</h3>
		</div>
	{{/isPremium}}
	<div class="game-detail-page-widget install-button mobile">
		<button onclick="applandOnClickInstall('{{appId}}', '{{androidFeatures.packageName}}')">
			TRY NOW
		</button>
	</div>
</div>
<!--Screenshots-->
<div class="game-detail-page-widget mobile screenshots-slider owl-carousel">
	{{#imageUri.screenshot}}
		<img src="{{this}}?fm=jpq&q=50&h=500">
	{{/imageUri.screenshot}}
</div>
<!--App Description-->
<div class="game-detail-page-widget app-description">
	<div class="game-detail-page-widget sidebar-box">
		<p class="game-detail-page-widget app-description-text">{{description.description}}</p>
		<p class="game-detail-page-widget read-more"><a href="#" class="game-detail-page-widget button">More</a></p>
	</div>
</div>
<div class="game-detail-page-widget bunch">
	<!--Rating-->
	<div class="game-detail-page-widget app-rating">
		<h1>{{rating}}</h1>
		<div class="game-detail-page-widget star-rating-display mobile"
		     data-rating="{{starRating}}"><span
						class="is-vishidden">Stars</span>
		</div>
		<div class="game-detail-page-widget display desktop">
			<img src="{{@root.path}}/wg/files/images/star.png">
		</div>
	</div>
	<!--App Other Detail-->
	<div class="game-detail-page-widget app-other-detail">
		<div class="game-detail-page-widget detail-pane">
			<div>
				<h4>Developer</h4>
				<p>{{company}}</p>
			</div>
			<div>
				<h4>Size</h4>
				<p>{{filesize}} MB</p>
			</div>
			<div>
				<h4 class="game-detail-page-widget mobile">Website</h4>
				<p class="game-detail-page-widget mobile"><a href="{{supportUri}}" target="_blank">{{supportUri}}</a></p>
			</div>
		</div>
		<div class="game-detail-page-widget detail-pane">
			<div>
				<h4>Version</h4>
				<p>{{version}}</p>
			</div>
			<div>
				<h4 class="game-detail-page-widget mobile">Rating</h4>
				<p class="game-detail-page-widget mobile">{{rating}}</p>
			</div>
			<div>
				<h4>Email</h4>
				<p><a href="mailto:{{supportEmail}}">{{supportEmail}}</a></p>
			</div>
		</div>
	</div>
</div>
