<div class="spinner-widget {{class}}">
  <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
</div>