.spinner-widget
	display flex
	align-items center
	justify-content center

	svg
		animation spinner-widget-rotator 1.8s linear infinite
	circle
		stroke-dasharray 187
		stroke-dashoffset 0
		transform-origin center
		stroke secondaryColor
		animation spinner-widget-dash 1.8s ease-in-out infinite

@keyframes spinner-widget-rotator
	0%
		transform rotate(0deg)
	100%
		transform rotate(270deg)
		stroke-offset 187

@keyframes spinner-widget-dash
	0%
		stroke-dashoffset 187
	50%
		stroke-dashoffset 46.75
		transform rotate(135deg)
	100%
		stroke-dashoffset 187
		transform rotate(450deg)
