<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>Game Detail Page</title>
	{{> @root/resources}}
</head>
<body>
<div class="game-detail-page-widget wrapper" id="root">
	{{> @root/wg/header-widget/header}}
	<div class="game-detail-page-widget game game-detail-page-widget-container" id="game">
		{{> @root/wg/spinner-widget/spinner-widget class="game-detail-page-widget-spinner"}}
	</div>
	{{> @root/wg/footer-widget/footer}}
</div>
</body>
</html>
