.games-slider
	padding 1vh 0
	overflow hidden
	white-space: nowrap

	&-container
		padding 8vw 0 2vW 0px
		h2
			font-size 7.2vw
			color secondaryColor
			margin 0 3vw 4.26vw 3vw

	&-spinner
		height 260px
		svg
			height 65px
			width 65px

.game-slide
	background #FFFFFF
	max-width 38.93333333333333vw
	min-height 56vw
	display inline-block
	padding 3.1vw 3.1vw 1.6vw
	border 1px solid #f0f0f1
	box-shadow 0px 6px 3.8vw -5px #a9a9a9
	margin 0 2.125vw 4vw 2.125vw


	.game-slide-icon
		width 31.733333333333334vw !important

	img
		width 31.733333333333334vw

	.badge
		font-size 2.6666666666666665vw
		color secondaryColor
		padding-bottom 4vw
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		margin-top 2vw
		img
			width 3.466666666666667vw
			vertical-align top
			float left
			margin-right 0.8vw
		span
			position relative
			&::after
				content ""
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				background-size 100% 100%
				background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='100'><line x1='5' y1='10' x2='295' y2='85' style='stroke: %238a69aa; stroke-width:7' /></svg>")


	h3
		padding-top 4.53vw
		padding-bottom 1.8vw
		font-family Roboto-Light
		color #3c3c3c
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		font-size 3.7333333333333334vw



	.star-rating-display
		font-size 2.6666666666666665vw
		unicode-bidi bidi-override
		color #6b6b6b
		display inline-block
		position relative
		&:before
			content "★★★★★"
			display block
			white-space nowrap
			color #c5c5c5
			left 0px
		&:after
			z-index 0
		span
			position absolute
			overflow hidden
			display inline-block
			left 0
			top 0

.games-slider-widget-content
	.owl-carousel
		position relative
	.owl-nav
		position absolute
		top 0
		bottom 0
		width 100%
		display flex
		flex-direction row
		justify-content center

@media all and (min-width: 480px)
	.games-slider
		padding 1vh 0
		.owl-stage
			margin 0 15px
		.slick-prev, .slick-next
			opacity 0
			transition 1s

		&:hover .slick-prev, &:hover .slick-next
			opacity 1
			transition 1s

	.game-slide
		background #FFFFFF
		width 200px
		padding 18px 18px 11px
		min-height 300px
		border 1px solid #f0f0f1
		box-shadow 0px 7px 25px -6px rgba(169, 169, 169, 1)
		margin 0 9px 26px 9px
		img
			width 100%
		.game-slide-icon
			width 100% !important

		h3
			padding-top 20px
			padding-bottom 0.5208333333333334vw
			font-family Roboto-Light
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			color #3c3c3c
			font-size 18px

		.badge
			font-size 15px
			color secondaryColor
			padding-bottom 20px
			margin-top 10px
			img
				width 18px
				vertical-align top
				float left
				margin-right 8px
		.star-rating-display
			font-size 13px

	.games-slider
		&-container
			padding 40px 0 10px 0px
			h2
				font-size 40px
				margin 0 15px 20px 15px
