<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>World's 400 best games</title>
	{{> @root/resources}}
</head>
<body>
<div class="games-club-landing-page-widget wrapper">
	<header class="games-club-landing-page-widget header">
		<div class="games-club-landing-page-widget header-logo">
			<img src="{{@root.path}}/wg/games-club-landing-page-widget/images/logo.png" alt="400 Mobile Games Club">
		</div>
	</header>
	<section class="games-club-landing-page-widget banner" style="height: 100vh">
		<div class="games-club-landing-page-widget banner-content">
			<h1>World's <br class="games-club-landing-page-widget line-break-mobile"/>400 Best Games</h1>
			<div class="games-club-landing-page-widget mobile underline">&mdash; &middot;&middot;&middot; &mdash;</div>
			<div class="games-club-landing-page-widget tags">
				<h4>No Ads.</h4>
				<h4>No Waiting.</h4>
				<h4>Just pure Play.</h4>
			</div>
			<div class="games-club-landing-page-widget banner-form">
				<p>{{subscription-offering}}</p>
				{{> @root/wg/signup-widget/signup}}
			</div>
			<div class="games-club-landing-page-widget banner-badges-desktop">
				<img src="{{@root.path}}/wg/games-club-landing-page-widget/images/ssl-badge.png"/>
				<img src="{{@root.path}}/wg/games-club-landing-page-widget/images/clean-badge.png"/>
				<img src="{{@root.path}}/wg/games-club-landing-page-widget/images/quality-badge.png"/>
				<img src="{{@root.path}}/wg/games-club-landing-page-widget/images/ok-badge.png"/>
			</div>
		</div>
	</section>
</div>
</body>
</html>
