<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>Terms | World's 400 best games</title>
	{{> @root/resources}}
</head>
<body>

<div class="games-club-terms-page-widget wrapper">
	{{> @root/wg/header-widget/header}}
	<section class="games-club-terms-page-widget banner">
		<div class="games-club-terms-page-widget container">
			<h1><strong>Terms and Conditions</strong></h1>
		</div>
	</section>
	<section class="games-club-terms-page-widget content">
		<div class="games-club-terms-page-widget dynamic-page-widget-container container">

			<h1>{{STORE_PRETTY_NAME}} Terms of Use</h1>

			<p>{{STORE_PRETTY_NAME}} provides a subscription service that allows our members to download, install and
				play Android games ("{{STORE_PRETTY_NAME}} content") over the Internet to certain Internet-connected
				Android smartphones and tablets ("{{STORE_PRETTY_NAME}} ready devices").</p><br>

			<p>The {{STORE_PRETTY_NAME}} service is provided to you by {{COMPANY_NAME}}, a limited liability company
				duly incorporated and registered under the laws of {{COMPANY_COUNTRY}} (referred herein as
				"{{COMPANY_ALIAS}}").</p><br>

			<p>These Terms of Use govern your use of our service. As used in these Terms of Use, "{{STORE_PRETTY_NAME}}
				service", "our service" or "the service" means the service provided by {{COMPANY_ALIAS}} for
				downloading, installing and playing {{STORE_PRETTY_NAME}} content, including all features and
				functionalities, recommendations and reviews, the website, and user interfaces, as well as all content
				and software associated with our service.</p><br>

			<h2>1. Membership</h2>

			<p>1.1 Your {{STORE_PRETTY_NAME}} membership will continue until terminated. To use
				the {{STORE_PRETTY_NAME}} service, you must have Internet access and a {{STORE_PRETTY_NAME}} ready
				device, and provide a current, valid, accepted method of payment, which you may update from time to time
				("Payment Method"). Unless you cancel your membership before your recurrent billing date, you authorize
				us to charge your next period's membership fee to your Payment Method (see "Cancellation" below). You
				can find specific details regarding your {{STORE_PRETTY_NAME}} membership by visiting our website and
				clicking on the "Your Account" link available at the top of the pages of the {{STORE_PRETTY_NAME}}
				website under your profile name.</p><br>

			<h2>2. Free Trials</h2>

			<p>2.1 Your {{STORE_PRETTY_NAME}} membership may start with a free trial. The free trial period of your
				membership lasts for 15 days, or as otherwise specified during sign-up and is intended to allow new
				members and certain former members to try the service.</p><br>

			<p>2.2 Free trial eligibility is determined by {{COMPANY_ALIAS}} at its sole discretion and we may limit
				eligibility to prevent free trial abuse. We reserve the right to revoke the free trial and put your
				account on hold in the event that we determine that you are not eligible. Members of households with an
				existing or recent {{STORE_PRETTY_NAME}} membership are not eligible. We may use information such as
				device ID, method of payment or an account email address used with an existing or
				recent {{STORE_PRETTY_NAME}} membership to determine eligibility. For combinations with other offers,
				restrictions may apply.</p><br>

			<p>2.3 We will charge your Payment Method for your periodic membership fee at the end of the free trial
				period unless you cancel your membership prior to the end of the free trial period. To view the period
				membership price and end date of your free trial period, visit our website and login to the "Your
				Account" page.</p><br>

			<h2>3. Billing</h2>

			<p>3.1 Billing Cycle. The membership fee for the {{STORE_PRETTY_NAME}} service and any other charges you may
				incur in connection with your use of the service, such as taxes and possible transaction fees, will be
				charged on a recurrent basis to your Payment Method on the calendar day corresponding to the
				commencement of the paying portion of your membership. In some cases your payment date may change, for
				example if your Payment Method has not successfully settled or if your paid membership began on a day
				not contained in a given month. Visit our website and login to the "Your Account" page to see your next
				payment date.</p><br>

			<p>3.2 Payment Methods. You may change your Payment Method by visiting our website and clicking on the "Your
				Account" link. If a payment is not successfully settled, due to expiration, insufficient funds, or
				otherwise, and you do not change your Payment Method or cancel your account, we may suspend your access
				to the service until we have obtained a valid Payment Method. When you update your Payment Method, you
				authorize us to continue charging the updated Payment Method, and you remain responsible for any
				uncollected amounts. This may result in a change to your payment billing dates. For some Payment
				Methods, the issuer of your Payment Method may charge you certain fees, such as a foreign transaction
				fee or other fees relating to the processing of your Payment Method. Local tax charges may vary
				depending on the Payment Method used. Check with your Payment Method service provider for details.</p><br>

			<p>3.3 Cancellation. You can cancel your {{STORE_PRETTY_NAME}} membership at any time, and you will continue
				to have access to the {{STORE_PRETTY_NAME}} service through the end of your current billing period. To
				the extent permitted by the applicable law, payments are non-refundable and we do not provide refunds or
				credits for any partial membership periods or not played {{STORE_PRETTY_NAME}} content. To cancel, go to
				the "Your Account" page and follow the instructions for cancellation. If you cancel your membership,
				your account will automatically close at the end of your current billing period. If you signed up
				for {{STORE_PRETTY_NAME}} using your account with a third party as a Payment Method and wish to cancel
				your {{STORE_PRETTY_NAME}} membership, you may need to do so through such third party, for example by
				visiting your account with the applicable third party and turning off auto-renew, or unsubscribing from
				the {{STORE_PRETTY_NAME}} service through that third party. You may also find billing information about
				your {{STORE_PRETTY_NAME}} membership by visiting your account with the applicable third party.</p><br>

			<p>3.4 Changes to the Price and Service Plans. We may change our service plans and the price of our service
				from time to time; however, any price changes or changes to our service plans will apply to you no
				earlier than 30 days following notice to you.</p><br>

			<h2>4. {{STORE_PRETTY_NAME}} Service</h2>

			<p>4.1 You must be 18 years of age, or the age of majority in your province, territory or country, to become
				a member of the {{STORE_PRETTY_NAME}} service. Minors may only use the service under the supervision of
				an adult.</p><br>

			<p>4.2 The {{STORE_PRETTY_NAME}} service and any content viewed through the service are for your personal
				and non-commercial use only. During your {{STORE_PRETTY_NAME}} membership we grant you a limited,
				non-exclusive, non-transferable, license to access the {{STORE_PRETTY_NAME}} service and
				view {{STORE_PRETTY_NAME}} content. Except for the foregoing limited license, no right, title or
				interest shall be transferred to you. You
				agree not to use the service for public performances.</p><br>

			<p>4.3 You may play the {{STORE_PRETTY_NAME}} content primarily within the country in which you have
				established your account and only in geographic locations where we offer our service and have licensed
				such content. The content that may be available to play will vary by geographic location and will change
				from time to time. The number of devices on which you may download, install and
				play {{STORE_PRETTY_NAME}}
				content is limited to five (5) {{STORE_PRETTY_NAME}} ready devices.</p><br>

			<p>4.4 {{STORE_PRETTY_NAME}} regularly makes changes to the service, including the content library. In
				addition, we continually test various aspects of our service, including our website, user interfaces,
				promotional features and availability of {{STORE_PRETTY_NAME}} content.</p><br>

			<p>4.5 You agree to use the {{STORE_PRETTY_NAME}} service, including all features and functionalities
				associated therewith, in accordance with all applicable laws, rules and regulations, or other
				restrictions on use of the service or content therein. You agree not to archive, reproduce, distribute,
				modify, display, perform, publish, license, create derivative works from, offer for sale, or use (except
				as explicitly authorized in these Terms of Use) content and information contained on or obtained from or
				through the {{STORE_PRETTY_NAME}} service. You also agree not to: circumvent, remove, alter, deactivate,
				degrade or thwart any of the content protections in the {{STORE_PRETTY_NAME}} service; use any robot,
				spider, scraper or other automated means to access the {{STORE_PRETTY_NAME}} service; decompile, reverse
				engineer or disassemble any software or other products or processes accessible through
				the {{STORE_PRETTY_NAME}} service; insert any code or product or manipulate the content of
				the {{STORE_PRETTY_NAME}} service in any way; or use any data mining, data gathering or extraction
				method. In addition, you agree not to upload, post, e-mail or otherwise send or transmit any material
				designed to interrupt, destroy or limit the functionality of any computer software or hardware or
				telecommunications equipment associated with the {{STORE_PRETTY_NAME}} service, including any software
				viruses or any other computer code, files or programs. We may terminate or restrict your use of our
				service if you violate these Terms of Use or are engaged in illegal or fraudulent use of the
				service.</p><br>

			<p>4.6 The quality of the {{STORE_PRETTY_NAME}} content may vary from device to device, and may be affected
				by a variety of factors, such as your location, device capabilities, the bandwidth available through
				and/or speed of your Internet connection. You are responsible for all Internet access charges. Please
				check with your Internet provider for information on possible Internet data usage charges. The time it
				takes to download, install and begin playing {{STORE_PRETTY_NAME}} content will vary based on a number
				of factors, including your location, available bandwidth at the time, the content you have selected and
				the configuration and capabilities of your {{STORE_PRETTY_NAME}} ready device.</p><br>

			<p>4.7 The {{STORE_PRETTY_NAME}} software is developed by, or for, {{STORE_PRETTY_NAME}} and is designed to
				enable playing {{STORE_PRETTY_NAME}} content through {{STORE_PRETTY_NAME}} ready devices.
				The {{STORE_PRETTY_NAME}} software may vary by device and medium, and functionalities and features may
				also differ between devices. You acknowledge that the use of the service may require third party
				software that is subject to third party licenses. You agree that you may automatically receive updated
				versions of the {{STORE_PRETTY_NAME}} and related third-party software.</p><br>

			<h2>5. Passwords &amp; Account Access</h2>

			<p>5.1 The member who created the {{STORE_PRETTY_NAME}} account and whose Payment Method is charged (the
				"Account Owner") has access and control over the {{STORE_PRETTY_NAME}} account and
				the {{STORE_PRETTY_NAME}} ready devices that are used to access our service. To maintain control over
				the account and to prevent anyone from accessing the account (which would include information on playing
				history for the account), the Account Owner should maintain control over the {{STORE_PRETTY_NAME}} ready
				devices that are used to access the service and not reveal the password nor details of the Payment
				Method associated with the account to anyone. You are responsible for updating and maintaining the
				accuracy of the information you provide to us relating to your account. We can terminate your account or
				place your account on hold in order to protect you, {{STORE_PRETTY_NAME}} or our partners from identity
				theft or other fraudulent activity.</p><br>

			<h2>6. Miscellaneous</h2>

			<p>6.1 Governing Law. These Terms of Use shall be governed by and construed in accordance with the laws
				of {{COMPANY_COUNTRY}}. These terms will not limit any consumer protection rights that you may be
				entitled to under the mandatory laws of your country of residence.</p><br>

			<p>6.2 Unsolicited Materials. {{STORE_PRETTY_NAME}} does not accept unsolicited materials or ideas
				for {{STORE_PRETTY_NAME}} content, and is not responsible for the similarity of any of its content or
				programming in any media to materials or ideas transmitted to {{STORE_PRETTY_NAME}}.</p><br>

			<p>6.3 Customer Support. To find more information about our service and its features or if you need
				assistance with your account, please visit the {{STORE_PRETTY_NAME}} Help Center. In the event of any
				conflict between these Terms of Use and information provided by Customer Support or other portions of
				our website, these Terms of Use will control.</p><br>

			<p>6.4 Survival. If any provision or provisions of these Terms of Use shall be held to be invalid, illegal,
				or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in
				full force and effect.</p><br>

			<p>6.5 Changes to Terms of Use. {{STORE_PRETTY_NAME}} may, from time to time, change these Terms of Use. We
				will notify you at least 30 days before these new Terms of Use apply to you.</p><br>

			<p>6.6 Electronic Communications. We will send you information relating to your account (e.g. payment
				authorizations, invoices, changes in password or Payment Method, confirmation messages, notices) in
				electronic form only, for example via emails to your email address provided during registration.</p><br>

			<p>Last Updated: 22 August 2017</p><br>

		</div><!-- .dynamic-page-widget-container -->
	</section>
	{{> @root/wg/footer-widget/footer}}
</div>
</body>
</html>