*
	box-sizing: border-box
@media (min-width: 1440px)
	.container
		max-width 1440px
		margin 0 auto

.mobile
	display none
.desktop
	display inline-block
.nav
	min-height: 50px
	width: 100%
	background-color: #ffffff
	position: relative

.nav > .container > .nav-header
	display: inline

.nav > .container > .nav-header > .nav-title
	display: inline-block
	font-size: 22px
	color: #000
	padding: 10px 10px 10px 10px

.nav > .container > .nav-btn
	display: none

.nav > .container > .nav-links
	display: inline
	float: right
	font-size: 15px

.nav > .container > .nav-links > a
	display: inline-block
	padding: 22px
	text-decoration: none
	color: #7f52a7
	font-weight 700
	text-transform uppercase


.nav > .container > .nav-links > a:last-child
	width 150px
	text-align center
.nav > .container > .nav-links > a:last-child:before
	content ''
	background url(path+"/wg/header-widget/images/user-inverted.png") no-repeat
	width 15px
	height 14px
	position absolute
	display block

.nav > .container > .nav-links > a > img
	padding-right 1em

.nav > .container > .nav-links > a:hover
	background-color: rgba(127, 82, 167, 0.2)

.nav > .container > #nav-check
	display: none

@media (max-width:777px)
	.desktop
		display none
	.mobile
		display inline-block
	.nav
		min-height: 3vh
		width: 100%
		background-color: #ffffff
		position: relative
		box-shadow 0 2px 4px rgba(57, 63, 72, 0.2)

	.nav > .container > .nav-header
		display: inline


	.nav > .container > .nav-header > .nav-title
		display: inline-block
		padding 4vw
		img
			width 28.51581508515815vw


	.nav > .container > .nav-header > .nav-title
		width: 100%
		text-align: center


	.nav > .container > .nav-btn
		display: inline-block
		position: absolute
		left: 0px
		top: 0px


	.nav > .container > .nav-btn > label
		display: inline-block
		width: 16vw
		height: 16vw
		padding: 3vw 3.3vw

	.nav > .container > .nav-btn > label:hover
		background-color: rgba(0, 0, 0, 0.3)

	.nav > .container > .nav-btn > label > span
		display: block
		width: 9vw
		height: 3vw
		border-bottom: 3px solid #7f52a7

	.nav > .container > .nav-links
		background url(path + "/wg/files/images/menu-bg.png") center no-repeat
		background-size cover
		position: absolute
		display: block
		width: 100%
		background-color: #fff
		height: 0px
		z-index 999
		transition: all 0.3s ease-in
		overflow-y: hidden
		top: 16vw !important
		left: 0px

	.nav > .container > .nav-links > a:nth-child(1)
		margin-top 20vw

	.nav > .container > .nav-links > a
		display: block
		text-align: center
		width: 100%
		font-size 5vw
		color #ffffff
		font-weight 700
		text-transform uppercase
		padding 5vw 3vw

	.nav > .container > .nav-links > a > img
		padding-right 3vw !important

	.nav > .container > #nav-check:not(:checked) + .nav-links
		height: 0px

	.nav > .container > #nav-check:checked + .nav-links
		height: calc(100vh - 50px)
		overflow-y: auto

	.nav > .container > #nav-check
		display: none
	.nav > .container > #nav-check:checked +  label
		span
			transform: rotate(45deg) !important
	.nav > .container > .nav-links > a:last-child
		width 100%
	.nav > .container > .nav-links > a:last-child::before
		display none