<!DOCTYPE html>
<html lang="{{language}}" dir="{{language-dir}}">
<head>
	<title>World's 400 best games</title>
	{{> @root/resources}}
</head>
<body>

<div class="games-club-landing-page-widget wrapper">
	{{> @root/wg/header-widget/header}}
	<section class="games-club-landing-page-widget banner">
		<div class="games-club-landing-page-widget banner-content">
			<h1>World's <br class="games-club-landing-page-widget line-break-mobile"/>400 Best Games</h1>
			<div class="games-club-landing-page-widget mobile underline">&mdash; &middot;&middot;&middot; &mdash;</div>
			<div class="games-club-landing-page-widget tags">
				<h4>No Ads.</h4>
				<h4>No Waiting.</h4>
				<h4>Just pure Play.</h4>
			</div>
			<div class="games-club-landing-page-widget banner-form">
				<p>{{subscription-offering}}</p>
				{{> @root/wg/signup-widget/signup}}

			</div>
			<div class="games-club-landing-page-widget banner-badges-desktop">
				<img src="{{path}}/wg/games-club-landing-page-widget/images/ssl-badge.png"/>
				<img src="{{path}}/wg/games-club-landing-page-widget/images/clean-badge.png"/>
				<img src="{{path}}/wg/games-club-landing-page-widget/images/quality-badge.png"/>
				<img src="{{path}}/wg/games-club-landing-page-widget/images/ok-badge.png"/>
			</div>
		</div>
	</section>
	{{> @root/wg/testimonial-widget/testimonial-widget}}
	<section class="games-club-landing-page-widget game-section">
		<div class="let-them-play-widget arrow top gray" data-hj-ignore-attributes="">
			<div data-hj-ignore-attributes=""></div>
		</div>

		{{> @root/wg/promo-slider-widget/promo-slider-widget color="purple" class="games-club-landing-page-widget game-slider" options=(str 'list/' landing-page.paid-games '/lang/' @root.language)}}

		<div class="games-club-landing-page-widget game-feature">
			<img src="{{path}}/wg/files/images/icon_gift.png">
			<h2 class="games-club-landing-page-widget paid-games-included-text">Paid Games Included</h2>
			<p>Never pay for a game again.
			Get games worth over $1200 for just
				one low fee, and free new games are
				added every week.</p>
		</div>
	</section>
	<section class="games-club-landing-page-widget game-section-two">
		<div class="games-club-landing-page-widget game-feature">
			<img src="{{path}}/wg/files/images/icon_ribbon_white.png">
			<h2 class="games-club-landing-page-widget ads-removed-text">Ads Removed</h2>
			<p>Play uninterrupted with no ads or waiting times.</p>
		</div>

		{{> @root/wg/promo-slider-widget/promo-slider-widget color="white" class="games-club-landing-page-widget game-slider" options=(str 'list/' landing-page.ads-removed '/lang/' @root.language)}}
	</section>
	<section class="games-club-landing-page-widget see-all-games">
		<a href="{{path}}/games">See More Games</a>
	</section>
	<section class="games-club-landing-page-widget game-section">
		{{> @root/wg/promo-slider-widget/promo-slider-widget color="purple" class="games-club-landing-page-widget game-slider" options=(str 'list/' landing-page.free-in-app-purchases '/lang/' @root.language)}}
		<div class="games-club-landing-page-widget game-feature">
			<img src="{{path}}/wg/files/images/icon_diamond.png">
			<h2 class="games-club-landing-page-widget free-in-app-text">Free in-app purchases</h2>
			<p>Get coins, armour, swords and power ups. Access to ALL levels and ALL add-ons for free.</p>
		</div>
	</section>
	<section class="games-club-landing-page-widget discount">
		<div class="games-club-landing-page-widget start-playing-now">
			<h2>Start Playing Now</h2>
			<div class="games-club-landing-page-widget desktop">
				<h4>No Ads. No Waiting. Just pure Play.</h4>
				<p>{{subscription-offering}}</p>
			</div>
			{{> @root/wg/signup-widget/signup}}

			<div class="games-club-landing-page-widget mobile">
				<p>{{subscription-offering}}</p>
			</div>
		</div>

		<div class="games-club-landing-page-widget opening-offer">
			<h2>Opening Offer</h2>
			<div class="games-club-landing-page-widget price-blue">
				<h1>{{price}} <span>{{original-price}}</span></h1>
				<h3>per week</h3>
				<div class="games-club-landing-page-widget mobile"><p>- 7 days Free Trial</p></div>
			</div>
			<ul>
				<li>Top 400 Games</li>
				<li>Free in App Purchases</li>
				<li>$1200 worth of games</li>
				<li>New games every week</li>
				<li>Verified & Ad-Free</li>
			</ul>
		</div>
	</section>
	{{> @root/wg/footer-widget/footer}}
</div>

</body>
</html>
