<meta charset="UTF-8">
{{#default-css}}<link rel="stylesheet" href="https://onboarding-applandstore-com.applanddev.se/wg/layout.css">{{/default-css}}
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="{{@root.path}}/wg/files/css/core.css">
<meta name="configuration" content="{{configuration}}" />
<script type="text/javascript" src="{{@root.path}}/wg/files/js/libs.js"></script>
<script type="text/javascript" src="{{@root.path}}/wg/files/js/template.js"></script>
<script type="text/javascript" src="{{@root.path}}/wg/files/js/core.js"></script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');


</script>
<script type="application/javascript">
	/*
		TSA is the Appland Tracking Service that needs to be in place to track the data in correct way. Do not remove.
	*/
	var TSA=(function(d,s){var e=d.createElement("script"),m=d.getElementsByTagName(s)[0],f=function(a,v){return a?(e.setAttribute(a,v||a),f):(m.parentNode.insertBefore(e, m),[]);};return f; })(document, "script")("script","application/javascript")("src","//tsa.appland.se/1.0/tsa.js")("async")("defer")();

	TSA.push(['conf', {'store':'{{feed-api-store}}', 'mods':'exp,utm,pages'}]);
	TSA.push(['get-user', function(applandTrackingId) {
		{{#google-analytics.data}}
			ga('create', '{{tracking-id}}', {'name': '{{name}}', 'cookieDomain': '{{../google-analytics.domain-name}}', 'siteSpeedSampleRate': 100, 'userId': applandTrackingId});
			ga('{{name}}.send', 'pageview');
		{{/google-analytics.data}}
	}]);
</script>
