.games-club-pricing-page-widget
	&.container
		max-width 1920px
		margin 0 auto
	&.desktop
		display none
	&.mobile
		display block
	&.wrapper
		width 100%
	&.underline
		color #764bba
		font-size 9vw
	&.banner
		position relative
		color #ffffff
		text-align center
		background #ffffff url(path + "/wg/games-club-pricing-page-widget/images/banner-mobile.png") no-repeat
		background-size 100%
		height 133vw
		h1
			position relative
			font-size 10vw
			font-weight 600
			//letter-spacing 1px
			line-height 1.7
			padding-top 37.0316301703163vw
			padding-bottom 3.35279805352798vw
		strong
			font-weight 700
		h1:before
			content ''
			position absolute
			width 45vw
			height 1.8vw
			margin-top -3.5vw
			border-radius 3px
			background #6ddb87
		p
			width 100%
			font-size 3.7vw
			line-height 7vw
	&.opening-offer
		background #ffffff
		color #764bba
		text-align center
		padding-bottom 9vw
		h1
			font-size 10vw
			font-weight 700
			padding-bottom 7vw
	&.new-price
		padding 2vw
		padding-bottom 4vw
		h1
			padding 0
			font-weight 700
			font-size 15.46228710462287vw
	&.old-price
		color #907b99 !important
		padding-top 4vw
		h1
			padding 0
			font-weight 700
			text-decoration line-through
			font-size 15.46228710462287vw
	&.hundred-percent-fun
		background #ffffff url(path + "/wg/games-club-pricing-page-widget/images/hundred-mobile.png") no-repeat
		background-size 100% 100%
		width 100%
		text-align center
		h1
			font-size 10vw
			font-weight 700
			color #764bba
			padding-top 29.21897810218978vw
			padding-bottom 5.10948905109489vw
		p
			font-size 4vw
			color #907b99
			padding-top 5.10948905109489vw
			padding-bottom 5vw
		img
			width 100%
	&.features
		text-align left
		padding 7vw 0 7vw 11.27250608272506vw
	&.feature
		display inline-flex
		img
			width 7.78588807785888vw
			height 7.78588807785888vw
		h2
			font-weight 700
			color #6a6a6a
			font-size 4.56301703163017vw
		p
			font-size 3.46301703163017vw
			line-height 1.3
			padding-top 2vw
	&.feature-text
		width 100% !important
		padding-left 3.5vw
	&.offer-icons
		width 100% !important
		text-align center
		padding 7vw 0
		background #ffffff
		div
			width: 100%
			padding 5vw 0
			align-items center
			h2
				font-size 4.910828025477707vw
				color #6a6a6a
				padding 1.5vw 0
			p
				font-size 3.4331210191082802vw
				color #919191
				padding 1vw 0
			img
				width 27.004866180048662vw
				padding 2vw 0
	&.subscription
		width 100%
		background url(path + "/wg/games-club-pricing-page-widget/images/subscription-background-mobile.png") center no-repeat
		background-size cover
		color #ffffff
		display block
		height 63.661800486618vw
		padding-top 14.5985401459854vw
		text-align center
		p
			font-size 3.18978102189781vw
			font-weight: 200




@media all and (min-width: 666px)
	.signup-widget
		//margin 0 auto !important
		padding 0 0
	.games-club-pricing-page-widget
		&.desktop
			display block
		&.mobile
			display none
		&.underline, &.underline-inverted
			font-size 2em
		&.banner
			background #ffffff url(path + "/wg/games-club-pricing-page-widget/images/banner-desktop.png") no-repeat
			background-size 100% 100%
			text-align center
			height 23.438em
			width 100%
			div
				width 100%
				align-items center
			h1
				font-size 2.259em
				font-weight 600
				padding-top 2.8em
				padding-bottom 20px
			h1:before
				display none
			strong
				border-bottom 0.18em solid #6ddb87
				margin 0 auto !important
		&.opening-offer
			background #ffffff
			color #764bba
			text-align center
			padding-top 2em
			padding-bottom 3em
			h1
				font-size 3.086em
				padding-bottom 0.4em !important
			h1:nth-child(3)
				padding-bottom 0 !important
			div:nth-child(2)
				h1
					padding-bottom 0 !important
			div:nth-child(3)
				color #907b99
				h1
					padding-bottom 0 !important
					text-decoration line-through
		&.pricing
			display inline-flex
		&.new-price
			padding 1em !important
			h1
				font-size 4em
		&.old-price
			padding 1em !important
			h1
				font-size 4em
		&.hundred-percent-fun
			width 100%
			background #ffffff url(path + "/wg/games-club-pricing-page-widget/images/hundred-desktop.png") no-repeat
			background-size 100% 100%
			text-align center
			h1
				font-size 1.827em
				font-weight 700
				padding-top 4.625em
				padding-bottom 0.239em
			p
				font-size 1.005em
				color #6a6a6a
				padding-top 0.693em
				padding-bottom 0.693em
		&.epic
			display inline-flex
			margin 0 auto !important
			width 100%
			padding 0 0 0 7%
			align-items center
			div
				width 50%
			div:nth-child(1)
				width 50%
				img
					width 100%
					padding 2em
		&.features
			padding 2.5em 0
			width 100%
		&.feature
			width 100% !important
			img
				width 650px
				height 384px
				padding 0 !important
			img:nth-child(1)
				width 2.000em !important
				height 2.000em !important
			h2
				font-size 0.914em
			p
				font-size 0.707em
		&.feature-text
			padding-left 13px
		&.offer-icons
			padding 5em em !important
		&.offer-icons > .container
			display inline-flex
			div
				width: 33%
				padding 0
				align-items center
				justify-content center
				h2
					font-size 1.1em
					padding 0.1em 0
					padding-top 0.9em !important
				p
					font-size 0.9em
					padding 0.3em 0
				img
					width 10.000em
					padding 0.2em 0
		&.subscription
			background #ffffff url(path + "/wg/games-club-pricing-page-widget/images/subscription-bg-desktop.png") no-repeat
			background-size cover
			height auto
			padding-top 0
		&.subscription-content
			display inline-flex
			height 100%
			padding 0
			p
				padding-top 0
				font-size 0.953em
			div
				width 50%
				padding-bottom 0.654em
				align-items center
				justify-content center
				div
					margin 0 auto
					justify-content center
					vertical-align middle
				img
					width 100%
					padding 2em 4em
		&.subscription > .container div div
			margin: 0 auto
@media all and (min-width: 960px)
	.games-club-pricing-page-widget
		&.banner
			height 38.857em
			h1
				font-size 3.972em
			p
				font-size 1.222em
			button
				font-size 1.416em
				padding 1.214em 2.143em
		&.hundred-percent-fun
			h1
				font-size 3.056em
			p
				font-size 1.681em
		&.feature
			h2
				font-size 1.528em
			p
				font-size 0.9em
		&.offer-icons
			padding 10px 15px
		&.offer-icons > .container
			div
				width: 33%
				padding 0
				align-items center
				justify-content center
				h2
					font-size 1.1em
					padding 0.1em 0
				p
					font-size 0.9em
					padding 0.3em 0
		&.subscription
			background #ffffff url(path + "/wg/games-club-pricing-page-widget/images/subscription-bg-desktop.png") no-repeat
			background-size cover
			height auto
			padding-top 0
		&.subscription-content
			display inline-flex
			width 50
			padding 15px
			align-items center
			p
				font-size 0.853em
			div
				width 100%
				align-items center
				justify-content center
				img
					width 100%
					padding 2em 4em
@media all and (min-width: 1330px)
	.games-club-pricing-page-widget
		&.epic
			div:nth-child(1)
				img
					margin 0 auto
					width 650px
					height 384px
@media all and (min-width: 1920px)
	.games-club-pricing-page-widget
		&.banner
			background-size 100% auto
		&.hundred-percent-fun, &.subscription
			background-size: cover