<div class="games-slider-container {{class}}" data-options="{{options}}">
	<h2>{{title}}</h2>
	<div class="games-slider-widget-content">
		{{> @root/wg/spinner-widget/spinner-widget class="games-slider-spinner"}}
	</div>
</div>
